{
    "openapi": "3.0.3",
    "info": {
      "title": "Kariz API with Endpoint-Specific Results",
      "version": "1.0.0"
    },
    "servers": [
      {
        "url": "https://api.trykariz.com",
        "description": "Kariz API"
      }
    ],
    "paths": {
      "/connect/token": {
        "post": {
          "servers": [
            {
              "url": "https://sts.demo.trykariz.com",
              "description": "Authentication Server"
            }
          ],
          "tags": [
            "Authentication"
          ],
          "security": [],
          "summary": "Obtain Access Token",
          "description": "Kariz uses an access token to control access to our API via OAuth 2.0 Password Grant. Use this endpoint to retrieve an access token.\n\n You will need valid user and application credentials. If you do not have an account, [schedule a demo]([https://cal.com/kariz-pepijn/intro-unified-api]) to gain access. Use this token in the Authorization header of subsequent calls.",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "grant_type": {
                      "type": "string",
                      "default": "password",
                      "enum": [
                        "password"
                      ],
                      "description": "The type of OAuth grant being used."
                    },
                    "username": {
                      "type": "string",
                      "example": "john@nike.com",
                      "description": "Your developer username in Kariz. This can be found in your account. It's the credential you use to login."
                    },
                    "password": {
                      "type": "string",
                      "example": "secretpassword",
                      "description": "Your developer password in Kariz. This can be found in your account. It's the credential you use to login."
                    },
                    "client_id": {
                      "type": "string",
                      "example": "client123",
                      "description": "The client id for your application. This can be found in your account."
                    },
                    "client_secret": {
                      "type": "string",
                      "example": "clientsecret123",
                      "description": "The client secret for your application. This can be found in your account."
                    }
                  },
                  "required": [
                    "grant_type",
                    "username",
                    "password",
                    "client_id",
                    "client_secret"
                  ]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "POST /connect/token Successful response",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "access_token": {
                        "type": "string",
                        "example": "ya29.a0AfH6SMDtYZB_...your_access_token...",
                        "description": "The token that can be used to authenticate API requests."
                      },
                      "token_type": {
                        "type": "string",
                        "example": "bearer",
                        "description": "The type of the token."
                      },
                      "expires_in": {
                        "type": "integer",
                        "example": 3600,
                        "description": "The number of seconds until the token expires. By default the token expires every 90 days."
                      },
                      "scope": {
                        "type": "string",
                        "example": "read write",
                        "description": "The scope(s) associated with the token."
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Error response for invalid request.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "error": {
                        "type": "string",
                        "example": "invalid_grant",
                        "description": "Error code indicating the issue."
                      },
                      "error_description": {
                        "type": "string",
                        "example": "Invalid username or password",
                        "description": "A human-readable description of the error."
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/api/KarizClientApp/GetTpUserAuthDisposableToken": {
        "get": {
          "tags": [
            "Magic link"
          ],
          "summary": "Create a Magic link",
          "description": "Use Magic Links to invite users to connect their accounts. Generate a URL and share it with the end user. \nOnce they finish authenticating via the Magic Link, you’ll have a valid token to perform API requests. \nWe also support token authentication, reach out to us for more information on this.",
          "parameters": [
            {
              "name": "tpUserId",
              "in": "query",
              "description": "Your end user's email address. This is purely for identification purposes. Setting this value will not cause any emails to be sent.",
              "schema": {
                "type": "string"
              },
              "required": true
            },
            {
              "name": "redirectUrl",
              "in": "query",
              "description": "After user finished the authentication process, we will redirect the user on this URL.",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "scopes",
              "in": "query",
              "description": "Scopes are the channels the user will be asked to authenticate with. By default, user will be given the option to authenticate to all supported channels.",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "shopify",
                    "amazon",
                    "woocommerce",
                    "bol",
                    "sharetribe",
                    "lightspeed_c",
                    "mirakl"
                  ]
                },
                "default": [
                  "shopify",
                  "amazon",
                  "woocommerce",
                  "bol",
                  "sharetribe",
                  "lightspeed_c",
                  "mirakl"
                ]
              }
            }
          ],
          "responses": {
            "200": {
              "description": "GET /TpUserAuthDisposableToken Successful response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/KarizClientAppDisposableToken"
                  },
                  "example": {
                    "uri": "https://www.app.trykariz.com/en/tpuser/authorize?token=Mvznqqrm...AuD639OMo%3D",
                    "token": "Mvznqqrm...AuD639OMo%3D",
                    "expirationUtcUnixTimeSeconds": 1736269316
                  }
                }
              }
            }
          },
          "security": [
            {
              "oauth2": [
                "kariz_core_api"
              ]
            }
          ]
        }
      },
      "/api/KarizClientApp/Unified/Products": {
        "post": {
          "tags": [
            "Products"
          ],
          "summary": "List all product info",
          "description": "Retrieves a list of products from the seller's catalog, including **all** associated data, containing:\n\n*   **Variants:** All product variants, with their attributes (price, SKU, options, etc.).\n*   **Inventory:** inventory information for each product and variant.\n*   **Inventory Locations:**  Inventory locations at the variant level.\n\nProviding all this data in a single response simplifies product integrations. The response is compatible with the Shopify REST API product schema. For detailed schema explanations, see the [Shopify REST API Product resource]([https://shopify.dev/docs/api/admin-rest/2024-10/resources/product]).",
          "parameters": [
            {
              "name": "channel",
              "in": "query",
              "description": "Specify the sales channel from which to fetch user data. Each request can only retrieve data from a single channel at a time. Since requests are processed in real-time, response times vary depending on the sales channel’s speed",
              "schema": {
                "type": "string",
                "enum": [
                  "bigcommerce",
                  "bol",
                  "lightspeed_c",
                  "shopify",
                  "woocommerce",
                  "mirakl"
                ]
              },
              "required": true
            },
            {
              "name": "tpUserId",
              "in": "query",
              "description": "The ID of the user you want to fetch the data for. The user must be authenticated to the channel you are sending the request for.",
              "schema": {
                "type": "string"
              },
              "required": true
            },
            {
              "name": "completionCallbackUrl",
              "in": "query",
              "description": "To receive the completion event. You can use a webhook to find out whether the task is finished.",
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "description": "The supported parameters to query the data depend on the channels API. Supported channels shows which parameters can be used for which channels.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "properties": {
                        "params": {
                          "oneOf": [
                            {
                              "$ref": "#/components/schemas/ShopifyBodyParams"
                            },
                            {
                              "$ref": "#/components/schemas/WoocommerceBodyParams"
                            },
                            {
                              "$ref": "#/components/schemas/AmazonBodyParams"
                            },
                            {
                              "$ref": "#/components/schemas/BolBodyParams"
                            },
                            {
                              "$ref": "#/components/schemas/LightspeedCBodyParams"
                            },
                            {
                              "$ref": "#/components/schemas/BigCommerceBodyParams"
                            },
                            {
                              "$ref": "#/components/schemas/MiraklBodyParams"
                            }
                          ]
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/GetProductsBody"
                    }
                  ]
                },
                "examples": {
                  "Shopify": {
                    "summary": "Example with Shopify configuration.",
                    "value": {
                      "params": {
                        "shopify": [
                          {
                            "key": "baseUrl",
                            "value": "your-shop.myshopify.com"
                          },
                          {
                            "key": "token",
                            "value": "your-shopify-oauth-token"
                          }
                        ]
                      },
                      "collection_id": "1",
                      "created_at_max": "1948-06-08T07:16:01.0Z",
                      "created_at_min": "1948-06-08T07:16:01.0Z",
                      "fields": "id,name",
                      "handle": "handle",
                      "ids": "1,2",
                      "limit": 10,
                      "product_type": "1948-06-08T07:16:01.0Z",
                      "published_at_max": "1948-06-08T07:16:01.0Z",
                      "published_at_min": "1948-06-08T07:16:01.0Z",
                      "published_status": "published",
                      "since_id": "1",
                      "status": "active",
                      "title": "title",
                      "updated_at_max": "1918-04-30T21:13:27.0Z",
                      "updated_at_min": "1918-04-30T21:13:27.0Z",
                      "vendor": "vendor"
                    }
                  },
                  "Lightspeed-C": {
                    "summary": "Example with Lightspeed C configuration.",
                    "value": {
                      "params": {
                        "lightspeed_c": [
                          {
                            "key": "region",
                            "value": "nl"
                          },
                          {
                            "key": "token",
                            "value": "Basic eHh4eHh4"
                          }
                        ]
                      },
                      "collection_id": "1",
                      "created_at_max": "1948-06-08T07:16:01.0Z",
                      "created_at_min": "1948-06-08T07:16:01.0Z",
                      "fields": "id,name",
                      "handle": "handle",
                      "ids": "1,2",
                      "limit": 10,
                      "product_type": "1948-06-08T07:16:01.0Z",
                      "published_at_max": "1948-06-08T07:16:01.0Z",
                      "published_at_min": "1948-06-08T07:16:01.0Z",
                      "published_status": "published",
                      "since_id": "1",
                      "status": "active",
                      "title": "title",
                      "updated_at_max": "1918-04-30T21:13:27.0Z",
                      "updated_at_min": "1918-04-30T21:13:27.0Z",
                      "vendor": "vendor"
                    }
                  },
                  "Bigcommerce": {
                    "summary": "Example with Bigcommerce configuration.",
                    "value": {
                      "params": {
                        "bigcommerce": [
                          {
                            "key": "store_hash",
                            "value": "store hash"
                          },
                          {
                            "key": "token",
                            "value": "store token"
                          }
                        ]
                      },
                      "collection_id": "1",
                      "created_at_max": "1948-06-08T07:16:01.0Z",
                      "created_at_min": "1948-06-08T07:16:01.0Z",
                      "fields": "id,name",
                      "handle": "handle",
                      "ids": "1,2",
                      "limit": 10,
                      "product_type": "1948-06-08T07:16:01.0Z",
                      "published_at_max": "1948-06-08T07:16:01.0Z",
                      "published_at_min": "1948-06-08T07:16:01.0Z",
                      "published_status": "published",
                      "since_id": "1",
                      "status": "active",
                      "title": "title",
                      "updated_at_max": "1918-04-30T21:13:27.0Z",
                      "updated_at_min": "1918-04-30T21:13:27.0Z",
                      "vendor": "vendor"
                    }
                  },
                  "Woocommerce": {
                    "summary": "Example with Woocommerce configuration.",
                    "value": {
                      "params": {
                        "woocommerce": [
                          {
                            "key": "baseUrl",
                            "value": "https://domain.com/wordpress"
                          },
                          {
                            "key": "token",
                            "value": "base64 token"
                          }
                        ]
                      },
                      "collection_id": "1",
                      "created_at_max": "1948-06-08T07:16:01.0Z",
                      "created_at_min": "1948-06-08T07:16:01.0Z",
                      "fields": "id,name",
                      "handle": "handle",
                      "ids": "1,2",
                      "limit": 10,
                      "product_type": "1948-06-08T07:16:01.0Z",
                      "published_at_max": "1948-06-08T07:16:01.0Z",
                      "published_at_min": "1948-06-08T07:16:01.0Z",
                      "published_status": "published",
                      "since_id": "1",
                      "status": "active",
                      "title": "title",
                      "updated_at_max": "1918-04-30T21:13:27.0Z",
                      "updated_at_min": "1918-04-30T21:13:27.0Z",
                      "vendor": "vendor"
                    }
                  },
                  "Bol": {
                    "summary": "Example with Bol configuration.",
                    "value": {
                      "params": {
                        "bol": [
                          {
                            "key": "token",
                            "value": "base64 token"
                          }
                        ]
                      },
                      "collection_id": "1",
                      "created_at_max": "1948-06-08T07:16:01.0Z",
                      "created_at_min": "1948-06-08T07:16:01.0Z",
                      "fields": "id,name",
                      "handle": "handle",
                      "ids": "1,2",
                      "limit": 10,
                      "product_type": "1948-06-08T07:16:01.0Z",
                      "published_at_max": "1948-06-08T07:16:01.0Z",
                      "published_at_min": "1948-06-08T07:16:01.0Z",
                      "published_status": "published",
                      "since_id": "1",
                      "status": "active",
                      "title": "title",
                      "updated_at_max": "1918-04-30T21:13:27.0Z",
                      "updated_at_min": "1918-04-30T21:13:27.0Z",
                      "vendor": "vendor"
                    }
                  },
                  "Mirakl": {
                    "summary": "Example with Mirakl configuration.",
                    "value": {
                      "params": {
                        "mirakl": [
                          {
                            "key": "token",
                            "value": "bearer-token"
                          }
                        ]
                      },
                      "limit": 10
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "POST /Unified/Products Successful response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProductResponseWrapper"
                  },
                  "example": {
                    "Errors": {},
                    "Output": {
                      "step": "transform",
                      "isSuccess": true,
                      "schemaValidationErrors": null,
                      "restErrors": null,
                      "operationErrors": null,
                      "unexpectedErrors": null,
                      "execution_id": "ed7ad663-4757-447c-b5cd-1e83c2380afc",
                      "override_count": 1,
                      "next_page_token_url": "https://api.trykariz.com/api/KarizClientApp/RunSync?configName=shopify_get_orders&tpUserId=1&data=%7B%22limit%22%3A1%2C%22next_page_token%22%3A%22eyJsYXN0X2lkIjo1OTU0NDYxMzM1ODI3LCJsYXN0X3ZhbHVlIjoiMjAyNC0wOS0xMyAxNDo0NzoxMy4xNDAwNTEiLCJkaXJlY3Rpb24iOiJuZXh0In0%22%7D",
                      "next_page_token": "eyJsYXN0X2lkIjo1OTU0NDYxMzM1ODI3LCJsYXN0X3ZhbHVlIjoiMjAyNC0wOS0xMyAxNDo0NzoxMy4xNDAwNTEiLCJkaXJlY3Rpb24iOiJuZXh0In0",
                      "result": [
                        {
                          "id": "9193872097555",
                          "channel_name": "lightspeed_c",
                          "title": "Gift Card",
                          "body_html": "This is a gift card for the store",
                          "vendor": "Snowboard Vendor",
                          "product_type": "",
                          "created_at": "2024-03-29T09:40:33+00:00",
                          "handle": "gift-card",
                          "updated_at": "2024-04-19T17:37:08+00:00",
                          "published_at": "2024-03-29T09:40:34+00:00",
                          "template_suffix": null,
                          "published_scope": "web",
                          "tags": "",
                          "status": "active",
                          "variants": [
                            {
                              "id": "48467551060243",
                              "product_id": "9193872097555",
                              "title": "$10",
                              "price": "10.00",
                              "position": 1,
                              "inventory_policy": "deny",
                              "compare_at_price": null,
                              "option1": "$10",
                              "option2": null,
                              "option3": null,
                              "created_at": "2024-03-29T09:40:33+00:00",
                              "updated_at": "2024-03-29T09:40:33+00:00",
                              "taxable": false,
                              "barcode": null,
                              "fulfillment_service": "gift_card",
                              "grams": 0,
                              "inventory_management": null,
                              "requires_shipping": false,
                              "sku": "",
                              "weight": 0,
                              "weight_unit": "kg",
                              "inventory_item_id": "50485600059667",
                              "inventory_quantity": 0,
                              "old_inventory_quantity": 0,
                              "image_id": null,
                              "inventory_item": {
                                "id": "50485600059667",
                                "sku": "",
                                "created_at": "2024-03-29T09:40:33+00:00",
                                "updated_at": "2024-03-29T09:40:33+00:00",
                                "requires_shipping": false,
                                "cost": null,
                                "country_code_of_origin": null,
                                "province_code_of_origin": null,
                                "harmonized_system_code": null,
                                "tracked": false,
                                "inventory_levels": [
                                  {
                                    "inventory_item_id": "50485600059667",
                                    "location_id": "97423720723",
                                    "available": null,
                                    "updated_at": "2024-03-29T09:40:34+00:00"
                                  }
                                ]
                              }
                            },
                            {
                              "id": "48467551093011",
                              "product_id": "9193872097555",
                              "title": "$25",
                              "price": "25.00",
                              "position": 2,
                              "inventory_policy": "deny",
                              "compare_at_price": null,
                              "option1": "$25",
                              "option2": null,
                              "option3": null,
                              "created_at": "2024-03-29T09:40:33+00:00",
                              "updated_at": "2024-03-29T09:40:33+00:00",
                              "taxable": false,
                              "barcode": null,
                              "fulfillment_service": "gift_card",
                              "grams": 0,
                              "inventory_management": null,
                              "requires_shipping": false,
                              "sku": "",
                              "weight": 0,
                              "weight_unit": "kg",
                              "inventory_item_id": "50485600092435",
                              "inventory_quantity": 0,
                              "old_inventory_quantity": 0,
                              "image_id": null,
                              "inventory_item": {
                                "id": "50485600092435",
                                "sku": "",
                                "created_at": "2024-03-29T09:40:33+00:00",
                                "updated_at": "2024-03-29T09:40:33+00:00",
                                "requires_shipping": false,
                                "cost": null,
                                "country_code_of_origin": null,
                                "province_code_of_origin": null,
                                "harmonized_system_code": null,
                                "tracked": false,
                                "inventory_levels": [
                                  {
                                    "inventory_item_id": "50485600092435",
                                    "location_id": "97423720723",
                                    "available": null,
                                    "updated_at": "2024-03-29T09:40:34+00:00"
                                  }
                                ]
                              }
                            },
                            {
                              "id": "48467551158547",
                              "product_id": "9193872097555",
                              "title": "$50",
                              "price": "50.00",
                              "position": 3,
                              "inventory_policy": "deny",
                              "compare_at_price": null,
                              "option1": "$50",
                              "option2": null,
                              "option3": null,
                              "created_at": "2024-03-29T09:40:33+00:00",
                              "updated_at": "2024-03-29T09:40:33+00:00",
                              "taxable": false,
                              "barcode": null,
                              "fulfillment_service": "gift_card",
                              "grams": 0,
                              "inventory_management": null,
                              "requires_shipping": false,
                              "sku": "",
                              "weight": 0,
                              "weight_unit": "kg",
                              "inventory_item_id": "50485600125203",
                              "inventory_quantity": 0,
                              "old_inventory_quantity": 0,
                              "image_id": null,
                              "inventory_item": {
                                "id": "50485600125203",
                                "sku": "",
                                "created_at": "2024-03-29T09:40:33+00:00",
                                "updated_at": "2024-03-29T09:40:33+00:00",
                                "requires_shipping": false,
                                "cost": null,
                                "country_code_of_origin": null,
                                "province_code_of_origin": null,
                                "harmonized_system_code": null,
                                "tracked": false,
                                "inventory_levels": [
                                  {
                                    "inventory_item_id": "50485600125203",
                                    "location_id": "97423720723",
                                    "available": null,
                                    "updated_at": "2024-03-29T09:40:34+00:00"
                                  }
                                ]
                              }
                            },
                            {
                              "id": "48467551191315",
                              "product_id": "9193872097555",
                              "title": "$100",
                              "price": "100.00",
                              "position": 4,
                              "inventory_policy": "deny",
                              "compare_at_price": null,
                              "option1": "$100",
                              "option2": null,
                              "option3": null,
                              "created_at": "2024-03-29T09:40:33+00:00",
                              "updated_at": "2024-03-29T09:40:33+00:00",
                              "taxable": false,
                              "barcode": null,
                              "fulfillment_service": "gift_card",
                              "grams": 0,
                              "inventory_management": null,
                              "requires_shipping": false,
                              "sku": "",
                              "weight": 0,
                              "weight_unit": "kg",
                              "inventory_item_id": "50485600157971",
                              "inventory_quantity": 0,
                              "old_inventory_quantity": 0,
                              "image_id": null,
                              "inventory_item": {
                                "id": "50485600157971",
                                "sku": "",
                                "created_at": "2024-03-29T09:40:33+00:00",
                                "updated_at": "2024-03-29T09:40:33+00:00",
                                "requires_shipping": false,
                                "cost": null,
                                "country_code_of_origin": null,
                                "province_code_of_origin": null,
                                "harmonized_system_code": null,
                                "tracked": false,
                                "inventory_levels": [
                                  {
                                    "inventory_item_id": "50485600157971",
                                    "location_id": "97423720723",
                                    "available": null,
                                    "updated_at": "2024-03-29T09:40:34+00:00"
                                  }
                                ]
                              }
                            }
                          ],
                          "options": [
                            {
                              "id": "11557505007891",
                              "product_id": "9193872097555",
                              "name": "Denominations",
                              "position": 1,
                              "values": [
                                "$10",
                                "$25",
                                "$50",
                                "$100"
                              ]
                            }
                          ],
                          "images": [
                            {
                              "id": "45574246203667",
                              "alt": "Gift card that shows text: Generated data gift card",
                              "position": 1,
                              "product_id": "9193872097555",
                              "created_at": "2024-03-29T09:40:33+00:00",
                              "updated_at": "2024-03-29T09:40:33+00:00",
                              "width": 2881,
                              "height": 2881,
                              "src": "https://cdn.shopify.com/s/files/1/0870/1234/4083/files/gift_card.png?v=1711705233",
                              "variant_ids": []
                            }
                          ]
                        }
                      ]
                    },
                    "Report": {
                      "TraceId": "00-3c6a96b919427b0952ba274800a4b04f-7efc4603f4ee42e7-00",
                      "TotalExtResourcesDuration": 356.8311,
                      "TotalEventsTransitDuration": 554.5615,
                      "TotalTransformationsDuration": 690.4757,
                      "TotalRequestsDuration": 4296.1973,
                      "ExtResources": [
                        {
                          "Uri": "https://quickstart.myshopify.com/admin/api/2024-04/orders.json",
                          "Duration": 356.8311
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "security": [
            {
              "oauth2": [
                "kariz_core_api"
              ]
            }
          ]
        }
      },
      "/api/KarizClientApp/Unified/Orders": {
        "post": {
          "tags": [
            "Orders"
          ],
          "summary": "List all order info",
          "description": "Retrieves a list of orders, including **all** associated data, containing:\n\n*   **Full Order Details:** All standard order information (customer, billing, shipping, etc.).\n*   **Line Items:** Complete line item information.\n*   **Fulfillments:** Details order fulfillments and tracking.\n*   **Returns:** Any returned items associated with the order.\n\nProviding all this data in a single response simplifies order management integrations. The response is compatible with the Shopify REST API order schema. For detailed schema explanations, see the [Shopify REST API Order resource]([https://shopify.dev/docs/api/admin-rest/2024-10/resources/order]).",
          "parameters": [
            {
              "name": "channel",
              "in": "query",
              "description": "Specify the sales channel from which to fetch user data. Each request can only retrieve data from a single channel at a time. Since requests are processed in real-time, response times vary depending on the sales channel’s speed",
              "schema": {
                "type": "string",
                "enum": [
                  "amazon",
                  "bigcommerce",
                  "bol",
                  "lightspeed_c",
                  "shopify",
                  "woocommerce",
                  "mirakl"
                ]
              },
              "required": true
            },
            {
              "name": "tpUserId",
              "in": "query",
              "description": "The ID of your user(must be authenticated with target channels).",
              "schema": {
                "type": "string"
              },
              "required": true
            },
            {
              "name": "completionCallbackUrl",
              "in": "query",
              "description": "To receive the completion event. You can use a webhook to find out whether the task is finished.",
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "description": "The supported parameters to query the data depend on the channels API. Supported channels shows which parameters can be used for which channels.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GetOrdersBody"
                    },
                    {
                      "properties": {
                        "params": {
                          "oneOf": [
                            {
                              "$ref": "#/components/schemas/ShopifyBodyParams"
                            },
                            {
                              "$ref": "#/components/schemas/WoocommerceBodyParams"
                            },
                            {
                              "$ref": "#/components/schemas/AmazonBodyParams"
                            },
                            {
                              "$ref": "#/components/schemas/BolBodyParams"
                            },
                            {
                              "$ref": "#/components/schemas/LightspeedCBodyParams"
                            },
                            {
                              "$ref": "#/components/schemas/BigCommerceBodyParams"
                            },
                            {
                              "$ref": "#/components/schemas/MiraklBodyParams"
                            }
                          ]
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "Shopify": {
                    "summary": "Example with Shopify configuration.",
                    "value": {
                      "params": {
                        "shopify": [
                          {
                            "key": "baseUrl",
                            "value": "your-shop.myshopify.com"
                          },
                          {
                            "key": "token",
                            "value": "your-shopify-oauth-token"
                          }
                        ]
                      },
                      "api_version": "1",
                      "attribution_app_id": "1",
                      "created_at_max": "1948-06-08T07:16:01.0Z",
                      "created_at_min": "1948-06-08T07:16:01.0Z",
                      "fields": "id,name",
                      "financial_status": "paid",
                      "fulfillment_status": "shipped",
                      "ids": "1,2",
                      "limit": 10,
                      "processed_at_max": "1948-06-08T07:16:01.0Z",
                      "processed_at_min": "1948-06-08T07:16:01.0Z",
                      "since_id": "1",
                      "status": "any",
                      "updated_at_max": "1918-04-30T21:13:27.0Z",
                      "updated_at_min": "1939-08-05T01:34:33.0Z"
                    }
                  },
                  "Lightspeed-C": {
                    "summary": "Example with Lightspeed C configuration.",
                    "value": {
                      "params": {
                        "lightspeed_c": [
                          {
                            "key": "region",
                            "value": "nl"
                          },
                          {
                            "key": "token",
                            "value": "Basic eHh4eHh4"
                          }
                        ]
                      },
                      "api_version": "1",
                      "attribution_app_id": "1",
                      "created_at_max": "1948-06-08T07:16:01.0Z",
                      "created_at_min": "1948-06-08T07:16:01.0Z",
                      "fields": "id,name",
                      "financial_status": "paid",
                      "fulfillment_status": "shipped",
                      "ids": "1,2",
                      "limit": 10,
                      "processed_at_max": "1948-06-08T07:16:01.0Z",
                      "processed_at_min": "1948-06-08T07:16:01.0Z",
                      "since_id": "1",
                      "status": "any",
                      "updated_at_max": "1918-04-30T21:13:27.0Z",
                      "updated_at_min": "1939-08-05T01:34:33.0Z"
                    }
                  },
                  "Bigcommerce": {
                    "summary": "Example with Bigcommerce configuration.",
                    "value": {
                      "params": {
                        "bigcommerce": [
                          {
                            "key": "store_hash",
                            "value": "store hash"
                          },
                          {
                            "key": "token",
                            "value": "store token"
                          }
                        ]
                      },
                      "api_version": "1",
                      "attribution_app_id": "1",
                      "created_at_max": "1948-06-08T07:16:01.0Z",
                      "created_at_min": "1948-06-08T07:16:01.0Z",
                      "fields": "id,name",
                      "financial_status": "paid",
                      "fulfillment_status": "shipped",
                      "ids": "1,2",
                      "limit": 10,
                      "processed_at_max": "1948-06-08T07:16:01.0Z",
                      "processed_at_min": "1948-06-08T07:16:01.0Z",
                      "since_id": "1",
                      "status": "any",
                      "updated_at_max": "1918-04-30T21:13:27.0Z",
                      "updated_at_min": "1939-08-05T01:34:33.0Z"
                    }
                  },
                  "Woocommerce": {
                    "summary": "Example with Woocommerce configuration.",
                    "value": {
                      "params": {
                        "woocommerce": [
                          {
                            "key": "baseUrl",
                            "value": "https://domain.com/wordpress"
                          },
                          {
                            "key": "token",
                            "value": "base64 token"
                          }
                        ]
                      },
                      "api_version": "1",
                      "attribution_app_id": "1",
                      "created_at_max": "1948-06-08T07:16:01.0Z",
                      "created_at_min": "1948-06-08T07:16:01.0Z",
                      "fields": "id,name",
                      "financial_status": "paid",
                      "fulfillment_status": "shipped",
                      "ids": "1,2",
                      "limit": 10,
                      "processed_at_max": "1948-06-08T07:16:01.0Z",
                      "processed_at_min": "1948-06-08T07:16:01.0Z",
                      "since_id": "1",
                      "status": "any",
                      "updated_at_max": "1918-04-30T21:13:27.0Z",
                      "updated_at_min": "1939-08-05T01:34:33.0Z"
                    }
                  },
                  "Amazon": {
                    "summary": "Example with Amazon configuration.",
                    "value": {
                      "params": {
                        "amazon": [
                          {
                            "key": "endpoint",
                            "value": "https://sellingpartnerapi-eu.amazon.com"
                          },
                          {
                            "key": "marketplaceIds",
                            "value": [
                              "A1805IZSGTT6HS",
                              "A1PA6795UKMFR9"
                            ]
                          },
                          {
                            "key": "token",
                            "value": "oauth token"
                          }
                        ]
                      },
                      "api_version": "1",
                      "attribution_app_id": "1",
                      "created_at_max": "1948-06-08T07:16:01.0Z",
                      "created_at_min": "1948-06-08T07:16:01.0Z",
                      "fields": "id,name",
                      "financial_status": "paid",
                      "fulfillment_status": "shipped",
                      "ids": "1,2",
                      "limit": 10,
                      "processed_at_max": "1948-06-08T07:16:01.0Z",
                      "processed_at_min": "1948-06-08T07:16:01.0Z",
                      "since_id": "1",
                      "status": "any",
                      "updated_at_max": "1918-04-30T21:13:27.0Z",
                      "updated_at_min": "1939-08-05T01:34:33.0Z"
                    }
                  },
                  "Bol": {
                    "summary": "Example with Bol configuration.",
                    "value": {
                      "params": {
                        "bol": [
                          {
                            "key": "token",
                            "value": "base64 token"
                          }
                        ]
                      },
                      "api_version": "1",
                      "attribution_app_id": "1",
                      "created_at_max": "1948-06-08T07:16:01.0Z",
                      "created_at_min": "1948-06-08T07:16:01.0Z",
                      "fields": "id,name",
                      "financial_status": "paid",
                      "fulfillment_status": "shipped",
                      "ids": "1,2",
                      "limit": 10,
                      "processed_at_max": "1948-06-08T07:16:01.0Z",
                      "processed_at_min": "1948-06-08T07:16:01.0Z",
                      "since_id": "1",
                      "status": "any",
                      "updated_at_max": "1918-04-30T21:13:27.0Z",
                      "updated_at_min": "1939-08-05T01:34:33.0Z"
                    }
                  },
                  "Mirakl": {
                    "summary": "Example with Mirakl configuration.",
                    "value": {
                      "params": {
                        "mirakl": [
                          {
                            "key": "token",
                            "value": "bearer-token"
                          }
                        ]
                      },
                      "fulfillment_status": "shipped",
                      "ids": "1,2",
                      "limit": 10,
                      "status": "any",
                      "updated_at_min": "1939-08-05T01:34:33.0Z"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "POST /Unified/Orders Successful response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/OrderResponseWrapper"
                  },
                  "example": {
                    "Errors": {},
                    "Output": {
                      "step": "transform",
                      "isSuccess": true,
                      "schemaValidationErrors": null,
                      "restErrors": null,
                      "operationErrors": null,
                      "unexpectedErrors": null,
                      "execution_id": "ed7ad663-4757-447c-b5cd-1e83c2380afc",
                      "override_count": 1,
                      "next_page_token_url": "https://api.trykariz.com/api/KarizClientApp/RunSync?configName=shopify_get_orders&tpUserId=1&data=%7B%22limit%22%3A1%2C%22next_page_token%22%3A%22eyJsYXN0X2lkIjo1OTU0NDYxMzM1ODI3LCJsYXN0X3ZhbHVlIjoiMjAyNC0wOS0xMyAxNDo0NzoxMy4xNDAwNTEiLCJkaXJlY3Rpb24iOiJuZXh0In0%22%7D",
                      "next_page_token": "eyJsYXN0X2lkIjo1OTU0NDYxMzM1ODI3LCJsYXN0X3ZhbHVlIjoiMjAyNC0wOS0xMyAxNDo0NzoxMy4xNDAwNTEiLCJkaXJlY3Rpb24iOiJuZXh0In0",
                      "result": [
                        {
                          "id": "5954461335827",
                          "channel_name": "shopify",
                          "app_id": "1354745",
                          "billing_address": {
                            "id": null,
                            "channel_name": "shopify",
                            "address1": "address1",
                            "address2": "E",
                            "city": "Amsterdam",
                            "company": "Kariz",
                            "country": "Netherlands",
                            "country_code": "NL",
                            "first_name": "first_name",
                            "last_name": "last_name",
                            "name": "name",
                            "phone": "+31629362580",
                            "province": null,
                            "province_code": null,
                            "zip": "2311 EA"
                          },
                          "buyer_accepts_marketing": true,
                          "cancel_reason": null,
                          "cancelled_at": null,
                          "checkout_id": "38277296718099",
                          "closed_at": null,
                          "confirmed": true,
                          "created_at": "2024-09-13T14:47:13+00:00",
                          "currency": "EUR",
                          "customer": {
                            "id": "8430809743635",
                            "created_at": "2024-09-13T14:43:08+00:00",
                            "default_address": {
                              "id": "10229148320019",
                              "address1": "address1",
                              "address2": "E",
                              "city": "Amsterdam",
                              "company": "Kariz",
                              "country": "Netherlands",
                              "country_code": "NL",
                              "country_name": "Netherlands",
                              "default": true,
                              "first_name": "first_name",
                              "last_name": "last_name",
                              "name": "name",
                              "phone": "phone",
                              "province": null,
                              "province_code": null,
                              "zip": "zip"
                            },
                            "email": "h.sarlak20@gmail.com",
                            "first_name": "first_name",
                            "last_name": "last_name",
                            "note": null,
                            "phone": null,
                            "tags": "",
                            "tax_exempt": false,
                            "tax_exemptions": [],
                            "updated_at": "2024-09-13T14:47:13+00:00",
                            "verified_email": true,
                            "sms_marketing_consent": {},
                            "email_marketing_consent": {
                              "state": "subscribed",
                              "opt_in_level": "single_opt_in",
                              "consent_updated_at": "2024-09-13T14:43:08+00:00"
                            }
                          },
                          "customer_locale": "en",
                          "device_id": null,
                          "discount_codes": [
                            {
                              "id": null,
                              "amount": "4.95",
                              "code": "FREESHIPPING2024",
                              "type": "shipping"
                            }
                          ],
                          "discount_applications": [
                            {
                              "type": "discount_code",
                              "code": "FREESHIPPING2024",
                              "value": "100.0",
                              "value_type": "percentage",
                              "allocation_method": "each",
                              "target_selection": "all",
                              "target_type": "shipping_line"
                            }
                          ],
                          "email": "h.sarlak20@gmail.com",
                          "financial_status": "paid",
                          "fulfillment_status": null,
                          "phone": null,
                          "tags": "",
                          "line_items": [
                            {
                              "id": "15101787734291",
                              "fulfillable_quantity": 1,
                              "fulfillment_service": "manual",
                              "fulfillment_status": null,
                              "grams": 57,
                              "price": "24.95",
                              "product_id": "9193872326931",
                              "quantity": 1,
                              "requires_shipping": true,
                              "sku": "",
                              "title": "Selling Plans Ski Wax",
                              "variant_id": "48467551420691",
                              "variant_title": "Selling Plans Ski Wax",
                              "name": "Selling Plans Ski Wax - Selling Plans Ski Wax",
                              "vendor": "Quickstart (5676026b)",
                              "gift_card": false,
                              "taxable": true,
                              "total_discount": "0.00",
                              "total_discount_set": {
                                "shop_money": {
                                  "currency_code": "EUR",
                                  "amount": "0.00"
                                },
                                "presentment_money": {
                                  "currency_code": "EUR",
                                  "amount": "0.00"
                                }
                              },
                              "product_exists": true,
                              "price_set": {
                                "shop_money": {
                                  "currency_code": "EUR",
                                  "amount": "24.95"
                                },
                                "presentment_money": {
                                  "currency_code": "EUR",
                                  "amount": "24.95"
                                }
                              },
                              "fulfillment_line_item_id": null
                            },
                            {
                              "id": "15101787767059",
                              "fulfillable_quantity": 1,
                              "fulfillment_service": "manual",
                              "fulfillment_status": null,
                              "grams": 71,
                              "price": "49.95",
                              "product_id": "9193872326931",
                              "quantity": 1,
                              "requires_shipping": true,
                              "sku": "",
                              "title": "Selling Plans Ski Wax",
                              "variant_id": "48467551453459",
                              "variant_title": "Special Selling Plans Ski Wax",
                              "name": "Selling Plans Ski Wax - Special Selling Plans Ski Wax",
                              "vendor": "Quickstart (5676026b)",
                              "gift_card": false,
                              "taxable": true,
                              "total_discount": "0.00",
                              "total_discount_set": {
                                "shop_money": {
                                  "currency_code": "EUR",
                                  "amount": "0.00"
                                },
                                "presentment_money": {
                                  "currency_code": "EUR",
                                  "amount": "0.00"
                                }
                              },
                              "product_exists": true,
                              "price_set": {
                                "shop_money": {
                                  "currency_code": "EUR",
                                  "amount": "49.95"
                                },
                                "presentment_money": {
                                  "currency_code": "EUR",
                                  "amount": "49.95"
                                }
                              },
                              "fulfillment_line_item_id": null
                            },
                            {
                              "id": "15101787799827",
                              "fulfillable_quantity": 1,
                              "fulfillment_service": "manual",
                              "fulfillment_status": null,
                              "grams": 14,
                              "price": "9.95",
                              "product_id": "9193872326931",
                              "quantity": 1,
                              "requires_shipping": true,
                              "sku": "",
                              "title": "Selling Plans Ski Wax",
                              "variant_id": "48467551486227",
                              "variant_title": "Sample Selling Plans Ski Wax",
                              "name": "Selling Plans Ski Wax - Sample Selling Plans Ski Wax",
                              "vendor": "Quickstart (5676026b)",
                              "gift_card": false,
                              "taxable": true,
                              "total_discount": "0.00",
                              "total_discount_set": {
                                "shop_money": {
                                  "currency_code": "EUR",
                                  "amount": "0.00"
                                },
                                "presentment_money": {
                                  "currency_code": "EUR",
                                  "amount": "0.00"
                                }
                              },
                              "product_exists": true,
                              "price_set": {
                                "shop_money": {
                                  "currency_code": "EUR",
                                  "amount": "9.95"
                                },
                                "presentment_money": {
                                  "currency_code": "EUR",
                                  "amount": "9.95"
                                }
                              },
                              "fulfillment_line_item_id": null
                            }
                          ],
                          "location_id": null,
                          "name": "#1004",
                          "note": null,
                          "number": "4",
                          "order_number": "1004",
                          "order_status_url": "https://quickstart-5676026b.myshopify.com/87012344083/orders/9f3c5659f7a47af9c3e32fc46ef0948f/authenticate?key=99cb5af1f58f1bcb43f592c724cbce36",
                          "payment_gateway_names": [
                            "manual"
                          ],
                          "processed_at": "2024-09-13T14:47:12+00:00",
                          "referring_site": null,
                          "shipping_address": {
                            "id": null,
                            "address1": "address1",
                            "address2": "address2",
                            "city": "Amsterdam",
                            "company": "Kariz",
                            "country": "Netherlands",
                            "country_code": "NL",
                            "first_name": "first_name",
                            "last_name": "last_name",
                            "name": "name",
                            "phone": "phone",
                            "province": null,
                            "province_code": null,
                            "zip": "zip"
                          },
                          "shipping_lines": [
                            {
                              "id": "4798704550163",
                              "carrier_identifier": "4084464f694a06e6683c491d00cef27f",
                              "code": "Standaard",
                              "is_removed": false,
                              "phone": null,
                              "price": "4.95",
                              "discounted_price": "4.95",
                              "discount_allocations": [
                                {
                                  "amount": "4.95",
                                  "discount_application_index": 0,
                                  "amount_set": {
                                    "shop_money": {
                                      "currency_code": "EUR",
                                      "amount": "4.95"
                                    },
                                    "presentment_money": {
                                      "currency_code": "EUR",
                                      "amount": "4.95"
                                    }
                                  }
                                }
                              ],
                              "source": "shopify",
                              "title": "Standaard",
                              "price_set": {
                                "shop_money": {
                                  "currency_code": "EUR",
                                  "amount": "4.95"
                                },
                                "presentment_money": {
                                  "currency_code": "EUR",
                                  "amount": "4.95"
                                }
                              },
                              "discounted_price_set": {
                                "shop_money": {
                                  "currency_code": "EUR",
                                  "amount": "4.95"
                                },
                                "presentment_money": {
                                  "currency_code": "EUR",
                                  "amount": "4.95"
                                }
                              }
                            }
                          ],
                          "source_identifier": "9eb0dba16b98dda9011517e5880b0263",
                          "source_name": "shopify_draft_order",
                          "subtotal_price": "84.85",
                          "taxes_included": true,
                          "test": false,
                          "total_discounts": "4.95",
                          "total_line_items_price": "84.85",
                          "total_tip_received": "0.00",
                          "total_price": "84.85",
                          "total_tax": "0.00",
                          "total_weight": 142,
                          "updated_at": "2024-09-13T14:47:14+00:00",
                          "user_id": "109876314387",
                          "current_total_duties_set": {},
                          "original_total_duties_set": {},
                          "presentment_currency": "EUR",
                          "total_line_items_price_set": {
                            "shop_money": {
                              "currency_code": "EUR",
                              "amount": "84.85"
                            },
                            "presentment_money": {
                              "currency_code": "EUR",
                              "amount": "84.85"
                            }
                          },
                          "total_discounts_set": {
                            "shop_money": {
                              "currency_code": "EUR",
                              "amount": "4.95"
                            },
                            "presentment_money": {
                              "currency_code": "EUR",
                              "amount": "4.95"
                            }
                          },
                          "total_shipping_price_set": {
                            "shop_money": {
                              "currency_code": "EUR",
                              "amount": "4.95"
                            },
                            "presentment_money": {
                              "currency_code": "EUR",
                              "amount": "4.95"
                            }
                          },
                          "subtotal_price_set": {
                            "shop_money": {
                              "currency_code": "EUR",
                              "amount": "84.85"
                            },
                            "presentment_money": {
                              "currency_code": "EUR",
                              "amount": "84.85"
                            }
                          },
                          "total_price_set": {
                            "shop_money": {
                              "currency_code": "EUR",
                              "amount": "84.85"
                            },
                            "presentment_money": {
                              "currency_code": "EUR",
                              "amount": "84.85"
                            }
                          },
                          "total_outstanding": "0.00",
                          "total_tax_set": {
                            "shop_money": {
                              "currency_code": "EUR",
                              "amount": "0.00"
                            },
                            "presentment_money": {
                              "currency_code": "EUR",
                              "amount": "0.00"
                            }
                          },
                          "estimated_taxes": false,
                          "current_subtotal_price": "84.85",
                          "current_subtotal_price_set": {
                            "shop_money": {
                              "currency_code": "EUR",
                              "amount": "84.85"
                            },
                            "presentment_money": {
                              "currency_code": "EUR",
                              "amount": "84.85"
                            }
                          },
                          "current_total_discounts": "4.95",
                          "current_total_discounts_set": {
                            "shop_money": {
                              "currency_code": "EUR",
                              "amount": "4.95"
                            },
                            "presentment_money": {
                              "currency_code": "EUR",
                              "amount": "4.95"
                            }
                          },
                          "current_total_price": "84.85",
                          "current_total_price_set": {
                            "shop_money": {
                              "currency_code": "EUR",
                              "amount": "84.85"
                            },
                            "presentment_money": {
                              "currency_code": "EUR",
                              "amount": "84.85"
                            }
                          },
                          "current_total_tax": "0.00",
                          "current_total_tax_set": {
                            "shop_money": {
                              "currency_code": "EUR",
                              "amount": "0.00"
                            },
                            "presentment_money": {
                              "currency_code": "EUR",
                              "amount": "0.00"
                            }
                          },
                          "payment_terms": {},
                          "current_total_additional_fees_set": {},
                          "original_total_additional_fees_set": {},
                          "po_number": null,
                          "tax_exempt": false,
                          "company": {
                            "id": null,
                            "location_id": null
                          }
                        }
                      ]
                    },
                    "Report": {
                      "TraceId": "00-3c6a96b919427b0952ba274800a4b04f-7efc4603f4ee42e7-00",
                      "TotalExtResourcesDuration": 356.8311,
                      "TotalEventsTransitDuration": 554.5615,
                      "TotalTransformationsDuration": 690.4757,
                      "TotalRequestsDuration": 4296.1973,
                      "ExtResources": [
                        {
                          "Uri": "https://quickstart.myshopify.com/admin/api/2024-04/orders.json",
                          "Duration": 356.8311
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "security": [
            {
              "oauth2": [
                "kariz_core_api"
              ]
            }
          ]
        }
      }
    },
    "components": {
      "securitySchemes": {
        "oauth2": {
          "type": "oauth2",
          "flows": {
            "authorizationCode": {
              "authorizationUrl": "https://sts.demo.trykariz.com/connect/authorize",
              "tokenUrl": "https://sts.demo.trykariz.com/connect/token",
              "scopes": {
                "contracts": "",
                "kariz_client_app": "",
                "kariz_security": "",
                "remote_workflow_execution": "",
                "tp_apps": "",
                "workflows": ""
              }
            }
          }
        }
      },
      "schemas": {
        "KarizClientAppDisposableToken": {
          "type": "object",
          "properties": {
            "uri": {
              "type": "string",
              "nullable": true
            },
            "token": {
              "type": "string",
              "nullable": true
            },
            "expirationUtcUnixTimeSeconds": {
              "type": "integer",
              "format": "int64"
            }
          },
          "additionalProperties": false
        },
        "OrderResponseWrapper": {
          "type": "object",
          "properties": {
            "Errors": {
              "type": "object",
              "properties": {
                "execution_step_name": {
                  "type": "object",
                  "properties": {
                    "step": {
                      "type": "string"
                    },
                    "isSuccess": {
                      "type": "boolean"
                    },
                    "schemaValidationErrors": {
                      "type": "object"
                    },
                    "restErrors": {
                      "type": "object",
                      "properties": {
                        "status_code": {
                          "type": "integer"
                        },
                        "content_type": {
                          "type": "string"
                        },
                        "content_file_path": {
                          "type": "object"
                        },
                        "headers": {
                          "type": "object",
                          "properties": {
                            "response-header": {
                              "type": "string"
                            }
                          }
                        },
                        "result": {
                          "type": "object",
                          "properties": {
                            "response-body": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "operationErrors": {
                      "type": "object"
                    },
                    "unexpectedErrors": {
                      "type": "object"
                    },
                    "execution_id": {
                      "type": "string"
                    },
                    "override_count": {
                      "type": "integer"
                    }
                  }
                }
              }
            },
            "Output": {
              "type": "object",
              "properties": {
                "step": {
                  "type": "string"
                },
                "isSuccess": {
                  "type": "boolean"
                },
                "schemaValidationErrors": {
                  "type": "object"
                },
                "restErrors": {
                  "type": "object"
                },
                "operationErrors": {
                  "type": "object"
                },
                "unexpectedErrors": {
                  "type": "object"
                },
                "execution_id": {
                  "type": "string"
                },
                "override_count": {
                  "type": "integer"
                },
                "next_page_token_url": {
                  "type": "string"
                },
                "next_page_token": {
                  "type": "string"
                },
                "result": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            },
            "Report": {
              "type": "object",
              "properties": {
                "TraceId": {
                  "type": "string"
                },
                "TotalExtResourcesDuration": {
                  "type": "number"
                },
                "TotalEventsTransitDuration": {
                  "type": "number"
                },
                "TotalTransformationsDuration": {
                  "type": "number"
                },
                "TotalRequestsDuration": {
                  "type": "number"
                },
                "ExtResources": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Uri": {
                        "type": "string"
                      },
                      "Duration": {
                        "type": "number"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": [
            "Errors",
            "Output",
            "Report"
          ]
        },
        "ProductResponseWrapper": {
          "type": "object",
          "properties": {
            "Errors": {
              "type": "object",
              "properties": {
                "execution_step_name": {
                  "type": "object",
                  "properties": {
                    "step": {
                      "type": "string"
                    },
                    "isSuccess": {
                      "type": "boolean"
                    },
                    "schemaValidationErrors": {
                      "type": "object"
                    },
                    "restErrors": {
                      "type": "object",
                      "properties": {
                        "status_code": {
                          "type": "integer"
                        },
                        "content_type": {
                          "type": "string"
                        },
                        "content_file_path": {
                          "type": "object"
                        },
                        "headers": {
                          "type": "object",
                          "properties": {
                            "response-header": {
                              "type": "string"
                            }
                          }
                        },
                        "result": {
                          "type": "object",
                          "properties": {
                            "response-body": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "operationErrors": {
                      "type": "object"
                    },
                    "unexpectedErrors": {
                      "type": "object"
                    },
                    "execution_id": {
                      "type": "string"
                    },
                    "override_count": {
                      "type": "integer"
                    }
                  }
                }
              }
            },
            "Output": {
              "type": "object",
              "properties": {
                "step": {
                  "type": "string"
                },
                "isSuccess": {
                  "type": "boolean"
                },
                "schemaValidationErrors": {
                  "type": "object"
                },
                "restErrors": {
                  "type": "object"
                },
                "operationErrors": {
                  "type": "object"
                },
                "unexpectedErrors": {
                  "type": "object"
                },
                "execution_id": {
                  "type": "string"
                },
                "override_count": {
                  "type": "integer"
                },
                "next_page_token_url": {
                  "type": "string"
                },
                "next_page_token": {
                  "type": "string"
                },
                "result": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            },
            "Report": {
              "type": "object",
              "properties": {
                "TraceId": {
                  "type": "string"
                },
                "TotalExtResourcesDuration": {
                  "type": "number"
                },
                "TotalEventsTransitDuration": {
                  "type": "number"
                },
                "TotalTransformationsDuration": {
                  "type": "number"
                },
                "TotalRequestsDuration": {
                  "type": "number"
                },
                "ExtResources": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Uri": {
                        "type": "string"
                      },
                      "Duration": {
                        "type": "number"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": [
            "Errors",
            "Output",
            "Report"
          ]
        },
        "Product": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "body_html": {
                "type": "string"
              },
              "vendor": {
                "type": "string"
              },
              "product_type": {
                "type": "string"
              },
              "created_at": {
                "type": "string"
              },
              "handle": {
                "type": "string"
              },
              "updated_at": {
                "type": "string"
              },
              "published_at": {
                "type": "string"
              },
              "template_suffix": {
                "type": "string"
              },
              "published_scope": {
                "type": "string",
                "nullable": true,
                "enum": [
                  "web",
                  "global"
                ]
              },
              "tags": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "nullable": true,
                "enum": [
                  "active",
                  "archived",
                  "draft"
                ]
              },
              "variants": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "product_id": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "price": {
                      "type": "string"
                    },
                    "presentment_prices": {
                      "type": "object",
                      "properties": {
                        "presentment_prices": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "price": {
                                "type": "object",
                                "properties": {
                                  "currency_code": {
                                    "type": "string"
                                  },
                                  "amount": {
                                    "type": "string"
                                  }
                                }
                              },
                              "compare_at_price": {
                                "type": "object",
                                "properties": {
                                  "currency_code": {
                                    "type": "string"
                                  },
                                  "amount": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "required": [
                              "price",
                              "compare_at_price"
                            ]
                          }
                        }
                      }
                    },
                    "position": {
                      "type": "number"
                    },
                    "inventory_policy": {
                      "type": "string",
                      "nullable": true,
                      "enum": [
                        "deny",
                        "continue"
                      ]
                    },
                    "compare_at_price": {
                      "type": "string"
                    },
                    "option1": {
                      "type": "string"
                    },
                    "option2": {
                      "type": "string"
                    },
                    "option3": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "updated_at": {
                      "type": "string"
                    },
                    "taxable": {
                      "type": "boolean"
                    },
                    "barcode": {
                      "type": "string"
                    },
                    "fulfillment_service": {
                      "type": "string"
                    },
                    "grams": {
                      "type": "number"
                    },
                    "inventory_management": {
                      "type": "string"
                    },
                    "requires_shipping": {
                      "type": "boolean"
                    },
                    "sku": {
                      "type": "string"
                    },
                    "weight": {
                      "type": "number"
                    },
                    "weight_unit": {
                      "type": "string"
                    },
                    "inventory_item_id": {
                      "type": "string"
                    },
                    "inventory_quantity": {
                      "type": "number"
                    },
                    "old_inventory_quantity": {
                      "type": "number"
                    },
                    "image_id": {
                      "type": "string"
                    },
                    "inventory_item": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "sku": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        },
                        "requires_shipping": {
                          "type": "boolean"
                        },
                        "cost": {
                          "type": "string"
                        },
                        "country_code_of_origin": {
                          "type": "string"
                        },
                        "province_code_of_origin": {
                          "type": "string"
                        },
                        "harmonized_system_code": {
                          "type": "string"
                        },
                        "tracked": {
                          "type": "boolean"
                        },
                        "country_harmonized_system_codes": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "harmonized_system_code": {
                                "type": "string"
                              },
                              "country_code": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "inventory_levels": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "inventory_item_id": {
                                "type": "string"
                              },
                              "location_id": {
                                "type": "string"
                              },
                              "available": {
                                "type": "number"
                              },
                              "updated_at": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "options": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "product_id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "position": {
                      "type": "number"
                    },
                    "values": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "images": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "alt": {
                      "type": "string"
                    },
                    "position": {
                      "type": "number"
                    },
                    "product_id": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "updated_at": {
                      "type": "string"
                    },
                    "width": {
                      "type": "number"
                    },
                    "height": {
                      "type": "number"
                    },
                    "src": {
                      "type": "string"
                    },
                    "variant_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "GetProductsBody": {
          "type": "object",
          "properties": {
            "next_page_token": {
              "type": "string",
              "description": "Used to paginate to the next batch of objects. Should be a copy of the next_page_token value from the previous response. \n\n Supported channels: `shopify`, `woocommerce`, `bigcommerce`, `lightspeed_c`, `bol`, `amazon`\n"
            },
            "limit": {
              "type": "number",
              "description": "Used to limit the number of returned objects. The maximum is 100.\n\n Supported channels: `shopify`, `woocommerce`, `bigcommerce`, `lightspeed_c`, `bol`, `amazon`\n",
              "default": 10
            },
            "updated_at_min": {
              "type": "string",
              "format": "date-time",
              "description": "Return products updated after this date. Date must be in ISO 8601 format (YYYY-MM-DDTHH:mm:ss[timezone offset]).\n\n Supported channels: `shopify`, `bigcommerce`, `lightspeed_c`",
              "example": "2025-01-25T16:15:47-04:00"
            },
            "updated_at_max": {
              "type": "string",
              "format": "date-time",
              "description": "Return products updated before this date. Date must be in ISO 8601 format (YYYY-MM-DDTHH:mm:ss[timezone offset])\n\n Supported channels: `shopify`, `bigcommerce`, `lightspeed_c`",
              "example": "2025-01-25T16:15:47-04:00"
            },
            "created_at_min": {
              "type": "string",
              "format": "date-time",
              "description": "Return products created after this date. Date must be in ISO 8601 format (YYYY-MM-DDTHH:mm:ss[timezone offset])\n\n Supported channels: `shopify`, `lightspeed_c`",
              "example": "2025-01-25T16:15:47-04:00"
            },
            "created_at_max": {
              "type": "string",
              "format": "date-time",
              "description": "Return products created before this date.  Date must be in ISO 8601 format (YYYY-MM-DDTHH:mm:ss[timezone offset]). \n\n Supported channels: `shopify`, `lightspeed_c`",
              "example": "2025-01-25T16:15:47-04:00"
            },
            "published_at_min": {
              "type": "string",
              "format": "date-time",
              "description": "Return products published after this date.  Date must be in ISO 8601 format (YYYY-MM-DDTHH:mm:ss[timezone offset]). \n\n Supported channels: `shopify`, `woocommerce`",
              "example": "2025-01-25T16:15:47-04:00"
            },
            "published_at_max": {
              "type": "string",
              "format": "date-time",
              "description": "Return products published before this date.  Date must be in ISO 8601 format (YYYY-MM-DDTHH:mm:ss[timezone offset]). \n\n Supported channels: `shopify`, `woocommerce`",
              "example": "2025-01-25T16:15:47-04:00"
            },
            "published_status": {
              "type": "string",
              "default": "any",
              "description": "Return products by their published status.\n\n Supported channels: `shopify`",
              "enum": [
                "published",
                "unpublished",
                "any"
              ]
            },
            "ids": {
              "type": "string",
              "description": "Return only products specified by a comma-separated list of product IDs. \n\n Supported channels: `shopify`, `woocommerce`"
            },
            "status": {
              "type": "string",
              "enum": [
                "active",
                "archived",
                "draft"
              ],
              "description": "Return only products specified by a comma-separated list of statuses. \n\n Supported channels: `shopify`, `woocommerce`",
              "default": "any"
            },
            "since_id": {
              "type": "string",
              "description": "Return only products after the specified ID. \n\n Supported channels: `shopify`,`lightspeed_c`"
            },
            "fields": {
              "type": "string",
              "description": "Return only certain fields specified by a comma-separated list of field names.\n\n Supported channels: `shopify`,`lightspeed_c`"
            },
            "collection_id": {
              "type": "string",
              "description": "Return products by product collection ID. \n\n Supported channels: `shopify`, `woocommerce`"
            },
            "handle": {
              "type": "string",
              "description": "Return only products specified by a comma-separated list of product handles. \n\n Supported channels: `shopify`"
            },
            "product_type": {
              "type": "string",
              "description": "Return products by product type. \n\n Supported channels: `shopify`"
            },
            "title": {
              "type": "string",
              "description": "Return products by product title. \n\n Supported channels: `shopify`, `woocommerce`"
            },
            "vendor": {
              "type": "string",
              "description": "Return products by product vendor.\n\n Supported channels: `shopify`,`lightspeed_c`"
            }
          }
        },
        "GetOrdersBody": {
          "type": "object",
          "properties": {
            "next_page_token": {
              "type": "string",
              "description": "Used to paginate to the next batch of objects. Should be a copy of the next_page_token value from the previous response.\n\n Supported channels: `shopify`, `woocommerce`, `bigcommerce`, `lightspeed_c`, `bol`, `amazon`"
            },
            "limit": {
              "type": "number",
              "description": "Used to limit the number of returned objects. The maximum is 100. \n\n Supported channels: `shopify`, `woocommerce`, `bigcommerce`, `lightspeed_c`, `amazon`",
              "default": 10
            },
            "updated_at_min": {
              "type": "string",
              "format": "date-time",
              "description": "Show orders last updated at or after date. \n\n Supported channels are `shopify`, `woocommerce`, `bigcommerce`, `lightspeed_c`, `bol`, `amazon`"
            },
            "updated_at_max": {
              "type": "string",
              "format": "date-time",
              "description": "Show orders last updated at or before date.\n\n Supported channels: `shopify`, `woocommerce`, `bigcommerce`, `lightspeed_c`, `amazon`"
            },
            "created_at_min": {
              "type": "string",
              "format": "date-time",
              "description": "Show orders created at or after date.\n\n Supported channels: `shopify`, `woocommerce`, `bigcommerce`, `lightspeed_c`, `amazon`"
            },
            "created_at_max": {
              "type": "string",
              "format": "date-time",
              "description": "Show orders created at or before date.\n\n Supported channels: `shopify`, `woocommerce`, `bigcommerce`, `lightspeed_c`, `amazon`"
            },
            "processed_at_min": {
              "type": "string",
              "format": "date-time",
              "description": "Show orders imported at or after date.\n\n Supported channels: `shopify`"
            },
            "processed_at_max": {
              "type": "string",
              "format": "date-time",
              "description": "Show orders imported at or before date.\n\n Supported channels: `shopify`"
            },
            "ids": {
              "type": "string",
              "description": "Retrieve only orders specified by a comma-separated list of order IDs.  \n\n Supported channels are `shopify`, `woocommerce`, `bigcommerce`, `amazon`"
            },
            "status": {
              "type": "string",
              "nullable": true,
              "enum": [
                "open",
                "closed",
                "cancelled",
                "any"
              ],
              "description": "Filter orders by their status. \n\n Supported channels are `shopify`, `woocommerce`, `bol`, `amazon`",
              "default": "open"
            },
            "since_id": {
              "type": "string",
[...]
