{
  "openapi": "3.0.3",
  "info": {
    "title": "Kariz API with Endpoint-Specific Results",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.trykariz.com",
      "description": "Kariz API"
    }
  ],
  "paths": {
    "/connect/token": {
      "post": {
        "servers": [
          {
            "url": "https://sts.demo.trykariz.com",
            "description": "Authentication Server"
          }
        ],
        "tags": [
          "Authentication"
        ],
        "security": [],
        "summary": "Obtain Access Token",
        "description": "Kariz uses an access token to control access to our API via OAuth 2.0 Password Grant. Use this endpoint to retrieve an access token.\n\n You will need valid user and application credentials. If you do not have an account, [schedule a demo]([https://cal.com/kariz-pepijn/intro-unified-api]) to gain access. Use this token in the Authorization header of subsequent calls.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "default": "password",
                    "enum": [
                      "password"
                    ],
                    "description": "The type of OAuth grant being used."
                  },
                  "username": {
                    "type": "string",
                    "example": "john@nike.com",
                    "description": "Your developer username in Kariz. This can be found in your account. It's the credential you use to login."
                  },
                  "password": {
                    "type": "string",
                    "example": "secretpassword",
                    "description": "Your developer password in Kariz. This can be found in your account. It's the credential you use to login."
                  },
                  "client_id": {
                    "type": "string",
                    "example": "client123",
                    "description": "The client id for your application. This can be found in your account."
                  },
                  "client_secret": {
                    "type": "string",
                    "example": "clientsecret123",
                    "description": "The client secret for your application. This can be found in your account."
                  }
                },
                "required": [
                  "grant_type",
                  "username",
                  "password",
                  "client_id",
                  "client_secret"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "POST /connect/token Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "example": "ya29.a0AfH6SMDtYZB_...your_access_token...",
                      "description": "The token that can be used to authenticate API requests."
                    },
                    "token_type": {
                      "type": "string",
                      "example": "bearer",
                      "description": "The type of the token."
                    },
                    "expires_in": {
                      "type": "integer",
                      "example": 3600,
                      "description": "The number of seconds until the token expires. By default the token expires every 90 days."
                    },
                    "scope": {
                      "type": "string",
                      "example": "read write",
                      "description": "The scope(s) associated with the token."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error response for invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "invalid_grant",
                      "description": "Error code indicating the issue."
                    },
                    "error_description": {
                      "type": "string",
                      "example": "Invalid username or password",
                      "description": "A human-readable description of the error."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/KarizClientApp/GetTpUserAuthDisposableToken": {
      "get": {
        "tags": [
          "Magic link"
        ],
        "summary": "Create a Magic link",
        "description": "Use Magic Links to invite users to connect their accounts. Generate a URL and share it with the end user. \nOnce they finish authenticating via the Magic Link, you’ll have a valid token to perform API requests. \nWe also support token authentication, reach out to us for more information on this.",
        "parameters": [
          {
            "name": "tpUserId",
            "in": "query",
            "description": "Your end user's email address. This is purely for identification purposes. Setting this value will not cause any emails to be sent.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "redirectUrl",
            "in": "query",
            "description": "After user finished the authentication process, we will redirect the user on this URL.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scopes",
            "in": "query",
            "description": "Scopes are the channels the user will be asked to authenticate with. By default, user will be given the option to authenticate to all supported channels.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "shopify",
                  "amazon",
                  "woocommerce",
                  "bol",
                  "sharetribe",
                  "lightspeed_c",
                  "mirakl",
                  "magento",
                  "bigcommerce"
                ]
              },
              "default": [
                "shopify",
                "amazon",
                "woocommerce",
                "bol",
                "sharetribe",
                "lightspeed_c",
                "mirakl",
                "magento",
                "bigcommerce"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "GET /TpUserAuthDisposableToken Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KarizClientAppDisposableToken"
                },
                "example": {
                  "uri": "https://www.app.trykariz.com/en/tpuser/authorize?token=Mvznqqrm...AuD639OMo%3D",
                  "token": "Mvznqqrm...AuD639OMo%3D",
                  "expirationUtcUnixTimeSeconds": 1736269316
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "kariz_core_api"
            ]
          }
        ]
      }
    },
    "/api/KarizClientApp/Unified/Customers": {
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "List all Customers",
        "description": "Retrieves a list of customers.\n\nThe response is compatible with the Shopify REST API Customer schema. For detailed schema explanations, see the [Shopify REST API customer resource]([https://shopify.dev/docs/api/admin-rest/2025-01/resources/customer]).",
        "parameters": [
          {
            "name": "channel",
            "in": "query",
            "description": "Specify the sales channel from which to fetch user data. Each request can only retrieve data from a single channel at a time. Since requests are processed in real-time, response times vary depending on the sales channel’s speed",
            "schema": {
              "type": "string",
              "enum": [
                "amazon",
                "bigcommerce",
                "bol",
                "lightspeed_c",
                "shopify",
                "woocommerce",
                "mirakl",
                "magento",
                "bigcommerce"
              ]
            },
            "required": true
          },
          {
            "name": "tpUserId",
            "in": "query",
            "description": "The ID of your user(must be authenticated with target channels).",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "completionCallbackUrl",
            "in": "query",
            "description": "To receive the completion event. You can use a webhook to find out whether the task is finished.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The supported parameters to query the data depend on the channels API. Supported channels shows which parameters can be used for which channels.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/GetCustomerBody"
                  },
                  {
                    "properties": {
                      "params": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/ShopifyBodyParams"
                          },
                          {
                            "$ref": "#/components/schemas/WoocommerceBodyParams"
                          },
                          {
                            "$ref": "#/components/schemas/AmazonBodyParams"
                          },
                          {
                            "$ref": "#/components/schemas/BolBodyParams"
                          },
                          {
                            "$ref": "#/components/schemas/LightspeedCBodyParams"
                          },
                          {
                            "$ref": "#/components/schemas/BigCommerceBodyParams"
                          },
                          {
                            "$ref": "#/components/schemas/MiraklBodyParams"
                          }
                        ]
                      }
                    }
                  }
                ]
              },
              "examples": {
                "Shopify": {
                  "summary": "Example with Shopify configuration.",
                  "value": {
                    "params": {
                      "shopify": [
                        {
                          "key": "baseUrl",
                          "value": "your-shop.myshopify.com"
                        },
                        {
                          "key": "token",
                          "value": "your-shopify-oauth-token"
                        }
                      ]
                    },
                    "created_at_max": "2024-01-31T23:59:59-05:00",
                    "created_at_min": "2024-01-01T00:00:00-05:00",
                    "fields": "id,email,first_name,last_name,phone",
                    "ids": "1234567890,9876543210,5555555555",
                    "limit": 100,
                    "since_id": 1234567889,
                    "updated_at_max": "2024-03-20T10:30:00Z",
                    "updated_at_min": "2024-03-01T00:00:00Z"
                  }
                },
                "Lightspeed-C": {
                  "summary": "Example with Lightspeed C configuration.",
                  "value": {
                    "params": {
                      "lightspeed_c": [
                        {
                          "key": "region",
                          "value": "nl"
                        },
                        {
                          "key": "token",
                          "value": "Basic eHh4eHh4"
                        }
                      ]
                    },
                    "created_at_max": "2024-01-31T23:59:59-05:00",
                    "created_at_min": "2024-01-01T00:00:00-05:00",
                    "fields": "id,email,first_name,last_name,phone",
                    "ids": "1234567890,9876543210,5555555555",
                    "limit": 100,
                    "since_id": 1234567889,
                    "updated_at_max": "2024-03-20T10:30:00Z",
                    "updated_at_min": "2024-03-01T00:00:00Z"
                  }
                },
                "Bigcommerce": {
                  "summary": "Example with Bigcommerce configuration.",
                  "value": {
                    "params": {
                      "bigcommerce": [
                        {
                          "key": "store_hash",
                          "value": "store hash"
                        },
                        {
                          "key": "token",
                          "value": "store token"
                        }
                      ]
                    },
                    "created_at_max": "2024-01-31T23:59:59-05:00",
                    "created_at_min": "2024-01-01T00:00:00-05:00",
                    "fields": "id,email,first_name,last_name,phone",
                    "ids": "1234567890,9876543210,5555555555",
                    "limit": 100,
                    "since_id": 1234567889,
                    "updated_at_max": "2024-03-20T10:30:00Z",
                    "updated_at_min": "2024-03-01T00:00:00Z"
                  }
                },
                "Woocommerce": {
                  "summary": "Example with Woocommerce configuration.",
                  "value": {
                    "params": {
                      "woocommerce": [
                        {
                          "key": "baseUrl",
                          "value": "https://domain.com/wordpress"
                        },
                        {
                          "key": "token",
                          "value": "base64 token"
                        }
                      ]
                    },
                    "created_at_max": "2024-01-31T23:59:59-05:00",
                    "created_at_min": "2024-01-01T00:00:00-05:00",
                    "fields": "id,email,first_name,last_name,phone",
                    "ids": "1234567890,9876543210,5555555555",
                    "limit": 100,
                    "since_id": 1234567889,
                    "updated_at_max": "2024-03-20T10:30:00Z",
                    "updated_at_min": "2024-03-01T00:00:00Z"
                  }
                },
                "Amazon": {
                  "summary": "Example with Amazon configuration.",
                  "value": {
                    "params": {
                      "amazon": [
                        {
                          "key": "endpoint",
                          "value": "https://sellingpartnerapi-eu.amazon.com"
                        },
                        {
                          "key": "marketplaceIds",
                          "value": [
                            "A1805IZSGTT6HS",
                            "A1PA6795UKMFR9"
                          ]
                        },
                        {
                          "key": "token",
                          "value": "oauth token"
                        }
                      ]
                    },
                    "created_at_max": "2024-01-31T23:59:59-05:00",
                    "created_at_min": "2024-01-01T00:00:00-05:00",
                    "fields": "id,email,first_name,last_name,phone",
                    "ids": "1234567890,9876543210,5555555555",
                    "limit": 100,
                    "since_id": 1234567889,
                    "updated_at_max": "2024-03-20T10:30:00Z",
                    "updated_at_min": "2024-03-01T00:00:00Z"
                  }
                },
                "Bol": {
                  "summary": "Example with Bol configuration.",
                  "value": {
                    "params": {
                      "bol": [
                        {
                          "key": "token",
                          "value": "base64 token"
                        }
                      ]
                    },
                    "created_at_max": "2024-01-31T23:59:59-05:00",
                    "created_at_min": "2024-01-01T00:00:00-05:00",
                    "fields": "id,email,first_name,last_name,phone",
                    "ids": "1234567890,9876543210,5555555555",
                    "limit": 100,
                    "since_id": 1234567889,
                    "updated_at_max": "2024-03-20T10:30:00Z",
                    "updated_at_min": "2024-03-01T00:00:00Z"
                  }
                },
                "Mirakl": {
                  "summary": "Example with Mirakl configuration.",
                  "value": {
                    "params": {
                      "mirakl": [
                        {
                          "key": "token",
                          "value": "bearer-token"
                        }
                      ]
                    },
                    "created_at_max": "2024-01-31T23:59:59-05:00",
                    "created_at_min": "2024-01-01T00:00:00-05:00",
                    "fields": "id,email,first_name,last_name,phone",
                    "ids": "1234567890,9876543210,5555555555",
                    "limit": 100,
                    "since_id": 1234567889,
                    "updated_at_max": "2024-03-20T10:30:00Z",
                    "updated_at_min": "2024-03-01T00:00:00Z"
                  }
                },
                "Magento": {
                  "summary": "Example with Magento configuration.",
                  "value": {
                    "params": {
                      "magento": [
                        {
                          "key": "baseUrl",
                          "value": "https://your-magento-store.com"
                        },
                        {
                          "key": "token",
                          "value": "token"
                        }
                      ]
                    },
                    "created_at_max": "2024-01-31T23:59:59-05:00",
                    "created_at_min": "2024-01-01T00:00:00-05:00",
                    "fields": "id,email,first_name,last_name,phone",
                    "ids": "1234567890,9876543210,5555555555",
                    "limit": 100,
                    "since_id": 1234567889,
                    "updated_at_max": "2024-03-20T10:30:00Z",
                    "updated_at_min": "2024-03-01T00:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "POST /Unified/Customers Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponseWrapper"
                },
                "example": {
                  "Errors": {},
                  "Output": {
                    "step": "transform",
                    "isSuccess": true,
                    "schemaValidationErrors": null,
                    "restErrors": null,
                    "operationErrors": null,
                    "unexpectedErrors": null,
                    "execution_id": "ed7ad663-4757-447c-b5cd-1e83c2380afc",
                    "override_count": 1,
                    "next_page_token_url": "https://api.trykariz.com/api/KarizClientApp/RunSync?configName=shopify_get_orders&tpUserId=1&data=%7B%22limit%22%3A1%2C%22next_page_token%22%3A%22eyJsYXN0X2lkIjo1OTU0NDYxMzM1ODI3LCJsYXN0X3ZhbHVlIjoiMjAyNC0wOS0xMyAxNDo0NzoxMy4xNDAwNTEiLCJkaXJlY3Rpb24iOiJuZXh0In0%22%7D",
                    "next_page_token": "eyJsYXN0X2lkIjo1OTU0NDYxMzM1ODI3LCJsYXN0X3ZhbHVlIjoiMjAyNC0wOS0xMyAxNDo0NzoxMy4xNDAwNTEiLCJkaXJlY3Rpb24iOiJuZXh0In0",
                    "result": {
                      "customers": [
                        {
                          "id": 1073339462,
                          "email": "steve.lastnameson@example.com",
                          "created_at": "2025-01-02T11:27:00-05:00",
                          "updated_at": "2025-01-02T11:27:00-05:00",
                          "first_name": "Steve",
                          "last_name": "Lastnameson",
                          "orders_count": 0,
                          "state": "disabled",
                          "total_spent": "0.00",
                          "last_order_id": null,
                          "note": null,
                          "verified_email": true,
                          "multipass_identifier": null,
                          "tax_exempt": false,
                          "tags": "",
                          "last_order_name": null,
                          "currency": "USD",
                          "phone": "+15142546011",
                          "addresses": [
                            {
                              "id": 1053317292,
                              "customer_id": 1073339462,
                              "first_name": "Mother",
                              "last_name": "Lastnameson",
                              "company": null,
                              "address1": "123 Oak St",
                              "address2": null,
                              "city": "Ottawa",
                              "province": "Ontario",
                              "country": "Canada",
                              "zip": "123 ABC",
                              "phone": "555-1212",
                              "name": "Mother Lastnameson",
                              "province_code": "ON",
                              "country_code": "CA",
                              "country_name": "Canada",
                              "default": true
                            }
                          ],
                          "tax_exemptions": [],
                          "email_marketing_consent": {
                            "state": "not_subscribed",
                            "opt_in_level": "single_opt_in",
                            "consent_updated_at": null
                          },
                          "sms_marketing_consent": {
                            "state": "not_subscribed",
                            "opt_in_level": "single_opt_in",
                            "consent_updated_at": null,
                            "consent_collected_from": "OTHER"
                          },
                          "admin_graphql_api_id": "gid://shopify/Customer/1073339462",
                          "default_address": {
                            "id": 1053317292,
                            "customer_id": 1073339462,
                            "first_name": "Mother",
                            "last_name": "Lastnameson",
                            "company": null,
                            "address1": "123 Oak St",
                            "address2": null,
                            "city": "Ottawa",
                            "province": "Ontario",
                            "country": "Canada",
                            "zip": "123 ABC",
                            "phone": "555-1212",
                            "name": "Mother Lastnameson",
                            "province_code": "ON",
                            "country_code": "CA",
                            "country_name": "Canada",
                            "default": true
                          }
                        },
                        {
                          "id": 207119551,
                          "email": "bob.norman@mail.example.com",
                          "created_at": "2025-01-02T11:26:48-05:00",
                          "updated_at": "2025-01-02T11:26:48-05:00",
                          "first_name": "Bob",
                          "last_name": "Norman",
                          "orders_count": 1,
                          "state": "disabled",
                          "total_spent": "199.65",
                          "last_order_id": 450789469,
                          "note": null,
                          "verified_email": true,
                          "multipass_identifier": null,
                          "tax_exempt": false,
                          "tags": "Léon, Noël",
                          "last_order_name": "#1001",
                          "currency": "USD",
                          "phone": "+16136120707",
                          "addresses": [
                            {
                              "id": 207119551,
                              "customer_id": 207119551,
                              "first_name": null,
                              "last_name": null,
                              "company": null,
                              "address1": "Chestnut Street 92",
                              "address2": "",
                              "city": "Louisville",
                              "province": "Kentucky",
                              "country": "United States",
                              "zip": "40202",
                              "phone": "555-625-1199",
                              "name": "",
                              "province_code": "KY",
                              "country_code": "US",
                              "country_name": "United States",
                              "default": true
                            }
                          ],
                          "tax_exemptions": [],
                          "email_marketing_consent": {
                            "state": "not_subscribed",
                            "opt_in_level": null,
                            "consent_updated_at": "2004-06-13T11:57:11-04:00"
                          },
                          "sms_marketing_consent": {
                            "state": "not_subscribed",
                            "opt_in_level": "single_opt_in",
                            "consent_updated_at": "2024-01-01T07:00:00-05:00",
                            "consent_collected_from": "OTHER"
                          },
                          "admin_graphql_api_id": "gid://shopify/Customer/207119551",
                          "default_address": {
                            "id": 207119551,
                            "customer_id": 207119551,
                            "first_name": null,
                            "last_name": null,
                            "company": null,
                            "address1": "Chestnut Street 92",
                            "address2": "",
                            "city": "Louisville",
                            "province": "Kentucky",
                            "country": "United States",
                            "zip": "40202",
                            "phone": "555-625-1199",
                            "name": "",
                            "province_code": "KY",
                            "country_code": "US",
                            "country_name": "United States",
                            "default": true
                          }
                        }
                      ]
                    }
                  },
                  "Report": {
                    "TraceId": "00-3c6a96b919427b0952ba274800a4b04f-7efc4603f4ee42e7-00",
                    "TotalExtResourcesDuration": 356.8311,
                    "TotalEventsTransitDuration": 554.5615,
                    "TotalTransformationsDuration": 690.4757,
                    "TotalRequestsDuration": 4296.1973,
                    "ExtResources": [
                      {
                        "Uri": "https://quickstart.myshopify.com/admin/api/2025-01/customers.json",
                        "Duration": 356.8311
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "kariz_core_api"
            ]
          }
        ]
      }
    },
    "/api/KarizClientApp/Unified/Fulfillments": {
      "post": {
        "tags": [
          "Fulfillment"
        ],
        "summary": "List all Fulfillments",
        "description": "Retrieves fulfillments associated with an order.\n\nThe response is compatible with the Shopify REST API fulfillment schema. For detailed schema explanations, see the [Shopify REST API fulfillment resource]([https://shopify.dev/docs/api/admin-rest/2025-01/resources/fulfillment]).",
        "parameters": [
          {
            "name": "channel",
            "in": "query",
            "description": "Specify the sales channel from which to fetch user data. Each request can only retrieve data from a single channel at a time. Since requests are processed in real-time, response times vary depending on the sales channel’s speed",
            "schema": {
              "type": "string",
              "enum": [
                "amazon",
                "bigcommerce",
                "bol",
                "lightspeed_c",
                "shopify",
                "woocommerce",
                "mirakl",
                "magento",
                "bigcommerce"
              ]
            },
            "required": true
          },
          {
            "name": "tpUserId",
            "in": "query",
            "description": "The ID of your user(must be authenticated with target channels).",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "completionCallbackUrl",
            "in": "query",
            "description": "To receive the completion event. You can use a webhook to find out whether the task is finished.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The supported parameters to query the data depend on the channels API. Supported channels shows which parameters can be used for which channels.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/GetFulfillmentBody"
                  },
                  {
                    "properties": {
                      "params": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/ShopifyBodyParams"
                          },
                          {
                            "$ref": "#/components/schemas/WoocommerceBodyParams"
                          },
                          {
                            "$ref": "#/components/schemas/AmazonBodyParams"
                          },
                          {
                            "$ref": "#/components/schemas/BolBodyParams"
                          },
                          {
                            "$ref": "#/components/schemas/LightspeedCBodyParams"
                          },
                          {
                            "$ref": "#/components/schemas/BigCommerceBodyParams"
                          },
                          {
                            "$ref": "#/components/schemas/MiraklBodyParams"
                          }
                        ]
                      }
                    }
                  }
                ]
              },
              "examples": {
                "Shopify": {
                  "summary": "Example with Shopify configuration.",
                  "value": {
                    "params": {
                      "shopify": [
                        {
                          "key": "baseUrl",
                          "value": "your-shop.myshopify.com"
                        },
                        {
                          "key": "token",
                          "value": "your-shopify-oauth-token"
                        }
                      ]
                    },
                    "order_id": "ORDER-4567",
                    "created_at_max": "2024-03-10T10:00:00-07:00",
                    "created_at_min": "2024-03-01T09:00:00-07:00",
                    "fields": "id,order_id,created_at,status",
                    "limit": 100,
                    "since_id": 123456,
                    "updated_at_max": "2024-03-11T12:00:00-07:00",
                    "updated_at_min": "2024-03-05T14:00:00-07:00"
                  }
                },
                "Lightspeed-C": {
                  "summary": "Example with Lightspeed C configuration.",
                  "value": {
                    "params": {
                      "lightspeed_c": [
                        {
                          "key": "region",
                          "value": "nl"
                        },
                        {
                          "key": "token",
                          "value": "Basic eHh4eHh4"
                        }
                      ]
                    },
                    "order_id": "ORDER-4567",
                    "created_at_max": "2024-03-10T10:00:00-07:00",
                    "created_at_min": "2024-03-01T09:00:00-07:00",
                    "fields": "id,order_id,created_at,status",
                    "limit": 100,
                    "since_id": 123456,
                    "updated_at_max": "2024-03-11T12:00:00-07:00",
                    "updated_at_min": "2024-03-05T14:00:00-07:00"
                  }
                },
                "Bigcommerce": {
                  "summary": "Example with Bigcommerce configuration.",
                  "value": {
                    "params": {
                      "bigcommerce": [
                        {
                          "key": "store_hash",
                          "value": "store hash"
                        },
                        {
                          "key": "token",
                          "value": "store token"
                        }
                      ]
                    },
                    "order_id": "ORDER-4567",
                    "created_at_max": "2024-03-10T10:00:00-07:00",
                    "created_at_min": "2024-03-01T09:00:00-07:00",
                    "fields": "id,order_id,created_at,status",
                    "limit": 100,
                    "since_id": 123456,
                    "updated_at_max": "2024-03-11T12:00:00-07:00",
                    "updated_at_min": "2024-03-05T14:00:00-07:00"
                  }
                },
                "Woocommerce": {
                  "summary": "Example with Woocommerce configuration.",
                  "value": {
                    "params": {
                      "woocommerce": [
                        {
                          "key": "baseUrl",
                          "value": "https://domain.com/wordpress"
                        },
                        {
                          "key": "token",
                          "value": "base64 token"
                        }
                      ]
                    },
                    "order_id": "ORDER-4567",
                    "created_at_max": "2024-03-10T10:00:00-07:00",
                    "created_at_min": "2024-03-01T09:00:00-07:00",
                    "fields": "id,order_id,created_at,status",
                    "limit": 100,
                    "since_id": 123456,
                    "updated_at_max": "2024-03-11T12:00:00-07:00",
                    "updated_at_min": "2024-03-05T14:00:00-07:00"
                  }
                },
                "Amazon": {
                  "summary": "Example with Amazon configuration.",
                  "value": {
                    "params": {
                      "amazon": [
                        {
                          "key": "endpoint",
                          "value": "https://sellingpartnerapi-eu.amazon.com"
                        },
                        {
                          "key": "marketplaceIds",
                          "value": [
                            "A1805IZSGTT6HS",
                            "A1PA6795UKMFR9"
                          ]
                        },
                        {
                          "key": "token",
                          "value": "oauth token"
                        }
                      ]
                    },
                    "order_id": "ORDER-4567",
                    "created_at_max": "2024-03-10T10:00:00-07:00",
                    "created_at_min": "2024-03-01T09:00:00-07:00",
                    "fields": "id,order_id,created_at,status",
                    "limit": 100,
                    "since_id": 123456,
                    "updated_at_max": "2024-03-11T12:00:00-07:00",
                    "updated_at_min": "2024-03-05T14:00:00-07:00"
                  }
                },
                "Bol": {
                  "summary": "Example with Bol configuration.",
                  "value": {
                    "params": {
                      "bol": [
                        {
                          "key": "token",
                          "value": "base64 token"
                        }
                      ]
                    },
                    "order_id": "ORDER-4567",
                    "created_at_max": "2024-03-10T10:00:00-07:00",
                    "created_at_min": "2024-03-01T09:00:00-07:00",
                    "fields": "id,order_id,created_at,status",
                    "limit": 100,
                    "since_id": 123456,
                    "updated_at_max": "2024-03-11T12:00:00-07:00",
                    "updated_at_min": "2024-03-05T14:00:00-07:00"
                  }
                },
                "Mirakl": {
                  "summary": "Example with Mirakl configuration.",
                  "value": {
                    "params": {
                      "mirakl": [
                        {
                          "key": "token",
                          "value": "bearer-token"
                        }
                      ]
                    },
                    "order_id": "ORDER-4567",
                    "created_at_max": "2024-03-10T10:00:00-07:00",
                    "created_at_min": "2024-03-01T09:00:00-07:00",
                    "fields": "id,order_id,created_at,status",
                    "limit": 100,
                    "since_id": 123456,
                    "updated_at_max": "2024-03-11T12:00:00-07:00",
                    "updated_at_min": "2024-03-05T14:00:00-07:00"
                  }
                },
                "Magento": {
                  "summary": "Example with Magento configuration.",
                  "value": {
                    "params": {
                      "magento": [
                        {
                          "key": "baseUrl",
                          "value": "https://your-magento-store.com"
                        },
                        {
                          "key": "token",
                          "value": "token"
                        }
                      ]
                    },
                    "order_id": "ORDER-4567",
                    "created_at_max": "2024-03-10T10:00:00-07:00",
                    "created_at_min": "2024-03-01T09:00:00-07:00",
                    "fields": "id,order_id,created_at,status",
                    "limit": 100,
                    "since_id": 123456,
                    "updated_at_max": "2024-03-11T12:00:00-07:00",
                    "updated_at_min": "2024-03-05T14:00:00-07:00"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "POST /Unified/Fulfillments Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FulfillmentResponseWrapper"
                },
                "example": {
                  "Errors": {},
                  "Output": {
                    "step": "transform",
                    "isSuccess": true,
                    "schemaValidationErrors": null,
                    "restErrors": null,
                    "operationErrors": null,
                    "unexpectedErrors": null,
                    "execution_id": "ed7ad663-4757-447c-b5cd-1e83c2380afc",
                    "override_count": 1,
                    "next_page_token_url": "https://api.trykariz.com/api/KarizClientApp/RunSync?configName=shopify_get_orders&tpUserId=1&data=%7B%22limit%22%3A1%2C%22next_page_token%22%3A%22eyJsYXN0X2lkIjo1OTU0NDYxMzM1ODI3LCJsYXN0X3ZhbHVlIjoiMjAyNC0wOS0xMyAxNDo0NzoxMy4xNDAwNTEiLCJkaXJlY3Rpb24iOiJuZXh0In0%22%7D",
                    "next_page_token": "eyJsYXN0X2lkIjo1OTU0NDYxMzM1ODI3LCJsYXN0X3ZhbHVlIjoiMjAyNC0wOS0xMyAxNDo0NzoxMy4xNDAwNTEiLCJkaXJlY3Rpb24iOiJuZXh0In0",
                    "result": {
                      "fulfillments": [
                        {
                          "id": 255858046,
                          "order_id": 450789469,
                          "status": "failure",
                          "created_at": "2025-01-02T11:38:15-05:00",
                          "service": "manual",
                          "updated_at": "2025-01-02T11:38:15-05:00",
                          "tracking_company": "USPS",
                          "shipment_status": null,
                          "location_id": 655441491,
                          "origin_address": null,
                          "line_items": [
                            {
                              "id": 466157049,
                              "variant_id": 39072856,
                              "title": "IPod Nano - 8gb",
                              "quantity": 1,
                              "sku": "IPOD2008GREEN",
                              "variant_title": "green",
                              "vendor": null,
                              "fulfillment_service": "manual",
                              "product_id": 632910392,
                              "requires_shipping": true,
                              "taxable": true,
                              "gift_card": false,
                              "name": "IPod Nano - 8gb - green",
                              "variant_inventory_management": "shopify",
                              "properties": [
                                {
                                  "name": "Custom Engraving Front",
                                  "value": "Happy Birthday"
                                },
                                {
                                  "name": "Custom Engraving Back",
                                  "value": "Merry Christmas"
                                }
                              ],
                              "product_exists": true,
                              "fulfillable_quantity": 0,
                              "grams": 200,
                              "price": "199.00",
                              "total_discount": "0.00",
                              "fulfillment_status": null,
                              "price_set": {
                                "shop_money": {
                                  "amount": "199.00",
                                  "currency_code": "USD"
                                },
                                "presentment_money": {
                                  "amount": "199.00",
                                  "currency_code": "USD"
                                }
                              },
                              "total_discount_set": {
                                "shop_money": {
                                  "amount": "0.00",
                                  "currency_code": "USD"
                                },
                                "presentment_money": {
                                  "amount": "0.00",
                                  "currency_code": "USD"
                                }
                              },
                              "discount_allocations": [
                                {
                                  "amount": "3.34",
                                  "discount_application_index": 0,
                                  "amount_set": {
                                    "shop_money": {
                                      "amount": "3.34",
                                      "currency_code": "USD"
                                    },
                                    "presentment_money": {
                                      "amount": "3.34",
                                      "currency_code": "USD"
                                    }
                                  }
                                }
                              ],
                              "admin_graphql_api_id": "gid://shopify/LineItem/466157049",
                              "duties": [],
                              "tax_lines": [
                                {
                                  "price": "3.98",
                                  "rate": 0.06,
                                  "title": "State Tax",
                                  "price_set": {
                                    "shop_money": {
                                      "amount": "3.98",
                                      "currency_code": "USD"
                                    },
                                    "presentment_money": {
                                      "amount": "3.98",
                                      "currency_code": "USD"
                                    }
                                  },
                                  "channel_liable": null
                                }
                              ],
                              "fulfillment_line_item_id": 225088298
                            }
                          ],
                          "tracking_number": "1Z1234512345123456",
                          "tracking_numbers": [
                            "1Z1234512345123456"
                          ],
                          "tracking_url": "https://tools.usps.com/go/TrackConfirmAction_input?qtc_tLabels1=1Z1234512345123456",
                          "tracking_urls": [
                            "https://tools.usps.com/go/TrackConfirmAction_input?qtc_tLabels1=1Z1234512345123456"
                          ],
                          "receipt": {
                            "testcase": true,
                            "authorization": "123456"
                          },
                          "name": "#1001.0",
                          "admin_graphql_api_id": "gid://shopify/Fulfillment/255858046"
                        }
                      ]
                    }
                  },
                  "Report": {
                    "TraceId": "00-3c6a96b919427b0952ba274800a4b04f-7efc4603f4ee42e7-00",
                    "TotalExtResourcesDuration": 356.8311,
                    "TotalEventsTransitDuration": 554.5615,
                    "TotalTransformationsDuration": 690.4757,
                    "TotalRequestsDuration": 4296.1973,
                    "ExtResources": [
                      {
                        "Uri": "https://quickstart.myshopify.com/admin/api/2025-01/fulfillments.json",
                        "Duration": 356.8311
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "kariz_core_api"
            ]
          }
        ]
      }
    },
    "/api/KarizClientApp/Unified/Inventory": {
      "post": {
        "tags": [
          "Inventory"
        ],
        "summary": "List all inventory levels",
        "description": "Retrieves a list of inventory levels.\n\nProviding all this data in a single response simplifies inventory management integrations. The response is compatible with the Shopify REST API InventoryLevel schema. For detailed schema explanations, see the [Shopify REST API InventoryLevel resource]([https://shopify.dev/docs/api/admin-rest/2025-01/resources/inventorylevel]).",
        "parameters": [
          {
            "name": "channel",
            "in": "query",
            "description": "Specify the sales channel from which to fetch user data. Each request can only retrieve data from a single channel at a time. Since requests are processed in real-time, response times vary depending on the sales channel’s speed",
            "schema": {
              "type": "string",
              "enum": [
                "amazon",
                "bigcommerce",
                "bol",
                "lightspeed_c",
                "shopify",
                "woocommerce",
                "mirakl",
                "magento",
                "bigcommerce"
              ]
            },
            "required": true
          },
          {
            "name": "tpUserId",
            "in": "query",
            "description": "The ID of your user(must be authenticated with target channels).",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "completionCallbackUrl",
            "in": "query",
            "description": "To receive the completion event. You can use a webhook to find out whether the task is finished.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The supported parameters to query the data depend on the channels API. Supported channels shows which parameters can be used for which channels.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/GetInventoryBody"
                  },
                  {
                    "properties": {
                      "params": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/ShopifyBodyParams"
                          },
                          {
                            "$ref": "#/components/schemas/WoocommerceBodyParams"
                          },
                          {
                            "$ref": "#/components/schemas/AmazonBodyParams"
                          },
                          {
                            "$ref": "#/components/schemas/BolBodyParams"
                          },
                          {
                            "$ref": "#/components/schemas/LightspeedCBodyParams"
                          },
                          {
                            "$ref": "#/components/schemas/BigCommerceBodyParams"
                          },
                          {
                            "$ref": "#/components/schemas/MiraklBodyParams"
                          }
                        ]
                      }
                    }
                  }
                ]
              },
              "examples": {
                "Shopify": {
                  "summary": "Example with Shopify configuration.",
                  "value": {
                    "params": {
                      "shopify": [
                        {
                          "key": "baseUrl",
                          "value": "your-shop.myshopify.com"
                        },
                        {
                          "key": "token",
                          "value": "your-shopify-oauth-token"
                        }
                      ]
                    },
                    "inventory_item_ids": "808950810,457924702,908978021",
                    "limit": 100,
                    "location_ids": "655441491,487838322",
                    "updated_at_min": "2023-11-01T08:30:00-05:00"
                  }
                },
                "Lightspeed-C": {
                  "summary": "Example with Lightspeed C configuration.",
                  "value": {
                    "params": {
                      "lightspeed_c": [
                        {
                          "key": "region",
                          "value": "nl"
                        },
                        {
                          "key": "token",
                          "value": "Basic eHh4eHh4"
                        }
                      ]
                    },
                    "inventory_item_ids": "808950810,457924702,908978021",
                    "limit": 100,
                    "location_ids": "655441491,487838322",
                    "updated_at_min": "2023-11-01T08:30:00-05:00"
                  }
                },
                "Bigcommerce": {
                  "summary": "Example with Bigcommerce configuration.",
                  "value": {
                    "params": {
                      "bigcommerce": [
                        {
                          "key": "store_hash",
                          "value": "store hash"
                        },
                        {
                          "key": "token",
                          "value": "store token"
                        }
                      ]
                    },
                    "inventory_item_ids": "808950810,457924702,908978021",
                    "limit": 100,
                    "location_ids": "655441491,487838322",
                    "updated_at_min": "2023-11-01T08:30:00-05:00"
                  }
                },
                "Woocommerce": {
                  "summary": "Example with Woocommerce configuration.",
                  "value": {
                    "params": {
                      "woocommerce": [
                        {
                          "key": "baseUrl",
                          "value": "https://domain.com/wordpress"
                        },
                        {
                          "key": "token",
                          "value": "base64 token"
                        }
                      ]
                    },
                    "inventory_item_ids": "808950810,457924702,908978021",
                    "limit": 100,
                    "location_ids": "655441491,487838322",
                    "updated_at_min": "2023-11-01T08:30:00-05:00"
                  }
                },
                "Amazon": {
                  "summary": "Example with Amazon configuration.",
                  "value": {
                    "params": {
                      "amazon": [
                        {
                          "key": "endpoint",
                          "value": "https://sellingpartnerapi-eu.amazon.com"
                        },
                        {
                          "key": "marketplaceIds",
                          "value": [
                            "A1805IZSGTT6HS",
                            "A1PA6795UKMFR9"
                          ]
                        },
                        {
                          "key": "token",
                          "value": "oauth token"
                        }
                      ]
                    },
                    "inventory_item_ids": "808950810,457924702,908978021",
                    "limit": 100,
                    "location_ids": "655441491,487838322",
                    "updated_at_min": "2023-11-01T08:30:00-05:00"
                  }
                },
                "Bol": {
                  "summary": "Example with Bol configuration.",
                  "value": {
                    "params": {
                      "bol": [
                        {
                          "key": "token",
                          "value": "base64 token"
                        }
                      ]
                    },
                    "inventory_item_ids": "808950810,457924702,908978021",
                    "limit": 100,
                    "location_ids": "655441491,487838322",
                    "updated_at_min": "2023-11-01T08:30:00-05:00"
                  }
                },
                "Mirakl": {
                  "summary": "Example with Mirakl configuration.",
                  "value": {
                    "params": {
                      "mirakl": [
                        {
                          "key": "token",
                          "value": "bearer-token"
                        }
                      ]
                    },
                    "inventory_item_ids": "808950810,457924702,908978021",
                    "limit": 100,
                    "location_ids": "655441491,487838322",
                    "updated_at_min": "2023-11-01T08:30:00-05:00"
                  }
                },
                "Magento": {
                  "summary": "Example with Magento configuration.",
                  "value": {
                    "params": {
                      "magento": [
                        {
                          "key": "baseUrl",
                          "value": "https://your-magento-store.com"
                        },
                        {
                          "key": "token",
                          "value": "token"
                        }
                      ]
                    },
                    "inventory_item_ids": "808950810,457924702,908978021",
                    "limit": 100,
                    "location_ids": "655441491,487838322",
                    "updated_at_min": "2023-11-01T08:30:00-05:00"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "POST /Unified/Inventory Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryResponseWrapper"
                },
                "example": {
                  "Errors": {},
                  "Output": {
                    "step": "transform",
                    "isSuccess": true,
                    "schemaValidationErrors": null,
                    "restErrors": null,
                    "operationErrors": null,
                    "unexpectedErrors": null,
                    "execution_id": "ed7ad663-4757-447c-b5cd-1e83c2380afc",
                    "override_count": 1,
                    "next_page_token_url": "https://api.trykariz.com/api/KarizClientApp/RunSync?configName=shopify_get_orders&tpUserId=1&data=%7B%22limit%22%3A1%2C%22next_page_token%22%3A%22eyJsYXN0X2lkIjo1OTU0NDYxMzM1ODI3LCJsYXN0X3ZhbHVlIjoiMjAyNC0wOS0xMyAxNDo0NzoxMy4xNDAwNTEiLCJkaXJlY3Rpb24iOiJuZXh0In0%22%7D",
                    "next_page_token": "eyJsYXN0X2lkIjo1OTU0NDYxMzM1ODI3LCJsYXN0X3ZhbHVlIjoiMjAyNC0wOS0xMyAxNDo0NzoxMy4xNDAwNTEiLCJkaXJlY3Rpb24iOiJuZXh0In0",
                    "result": {
                      "inventory_levels": [
                        {
                          "inventory_item_id": 49148385,
                          "location_id": 655441491,
                          "available": 2,
                          "updated_at": "2025-01-08T16:01:01-05:00",
                          "admin_graphql_api_id": "gid://shopify/InventoryLevel/655441491?inventory_item_id=49148385"
                        },
                        {
                          "inventory_item_id": 808950810,
                          "location_id": 655441491,
                          "available": 1,
                          "updated_at": "2025-01-08T16:01:01-05:00",
                          "admin_graphql_api_id": "gid://shopify/InventoryLevel/655441491?inventory_item_id=808950810"
                        },
                        {
                          "inventory_item_id": 457924702,
                          "location_id": 655441491,
                          "available": 4,
                          "updated_at": "2025-01-08T16:01:01-05:00",
                          "admin_graphql_api_id": "gid://shopify/InventoryLevel/655441491?inventory_item_id=457924702"
                        },
                        {
                          "inventory_item_id": 39072856,
                          "location_id": 655441491,
                          "available": 3,
                          "updated_at": "2025-01-08T16:01:01-05:00",
                          "admin_graphql_api_id": "gid://shopify/InventoryLevel/655441491?inventory_item_id=39072856"
                        }
                      ]
                    }
                  },
                  "Report": {
                    "TraceId": "00-3c6a96b919427b0952ba274800a4b04f-7efc4603f4ee42e7-00",
                    "TotalExtResourcesDuration": 356.8311,
                    "TotalEventsTransitDuration": 554.5615,
                    "TotalTransformationsDuration": 690.4757,
                    "TotalRequestsDuration": 4296.1973,
                    "ExtResources": [
                      {
                        "Uri": "https://quickstart.myshopify.com/admin/api/2025-01/inventory_levels.json",
                        "Duration": 356.8311
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "kariz_core_api"
            ]
          }
        ]
      }
    },
    "/api/KarizClientApp/Unified/Orders": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "List all order info",
        "description": "Retrieves a list of orders, including **all** associated data, containing:\n\n*   **Full Order Details:** All standard order information (customer, billing, shipping, etc.).\n*   **Line Items:** Complete line item information.\n*   **Fulfillments:** Details order fulfillments and tracking.\n*   **Returns:** Any returned items associated with the order.\n\nProviding all this data in a single response simplifies order management integrations. The response is compatible with the Shopify REST API order schema. For detailed schema explanations, see the [Shopify REST API Order resource]([https://shopify.dev/docs/api/admin-rest/2024-10/resources/order]).",
        "parameters": [
          {
            "name": "channel",
            "in": "query",
            "description": "Specify the sales channel from which to fetch user data. Each request can only retrieve data from a single channel at a time. Since requests are processed in real-time, response times vary depending on the sales channel’s speed",
            "schema": {
              "type": "string",
              "enum": [
                "amazon",
                "bigcommerce",
                "bol",
                "lightspeed_c",
                "shopify",
                "woocommerce",
                "mirakl",
                "magento",
                "bigcommerce"
              ]
            },
            "required": true
          },
          {
            "name": "tpUserId",
            "in": "query",
            "description": "The ID of your user(must be authenticated with target channels).",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "completionCallbackUrl",
            "in": "query",
            "description": "To receive the completion event. You can use a webhook to find out whether the task is finished.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The supported parameters to query the data depend on the channels API. Supported channels shows which parameters can be used for which channels.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/GetOrdersBody"
                  },
                  {
                    "properties": {
                      "params": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/ShopifyBodyParams"
                          },
                          {
                            "$ref": "#/components/schemas/WoocommerceBodyParams"
                          },
                          {
                            "$ref": "#/components/schemas/AmazonBodyParams"
                          },
                          {
                            "$ref": "#/components/schemas/BolBodyParams"
                          },
                          {
                            "$ref": "#/components/schemas/LightspeedCBodyParams"
                          },
                          {
                            "$ref": "#/components/schemas/BigCommerceBodyParams"
                          },
                          {
                            "$ref": "#/components/schemas/MiraklBodyParams"
                          }
                        ]
                      }
                    }
                  }
                ]
              },
              "examples": {
                "Shopify": {
                  "summary": "Example with Shopify configuration.",
                  "value": {
                    "params": {
                      "shopify": [
                        {
                          "key": "baseUrl",
                          "value": "your-shop.myshopify.com"
                        },
                        {
                          "key": "token",
                          "value": "your-shopify-oauth-token"
                        }
                      ]
                    },
                    "api_version": "1",
                    "attribution_app_id": "1",
                    "created_at_max": "1948-06-08T07:16:01.0Z",
                    "created_at_min": "1948-06-08T07:16:01.0Z",
                    "fields": "id,name",
                    "financial_status": "paid",
                    "fulfillment_status": "shipped",
                    "ids": "1,2",
                    "limit": 10,
                    "processed_at_max": "1948-06-08T07:16:01.0Z",
                    "processed_at_min": "1948-06-08T07:16:01.0Z",
                    "since_id": "1",
                    "status": "any",
                    "updated_at_max": "1918-04-30T21:13:27.0Z",
                    "updated_at_min": "1939-08-05T01:34:33.0Z"
                  }
                },
                "Lightspeed-C": {
                  "summary": "Example with Lightspeed C configuration.",
                  "value": {
                    "params": {
                      "lightspeed_c": [
                        {
                          "key": "region",
                          "value": "nl"
                        },
                        {
                          "key": "token",
                          "value": "Basic eHh4eHh4"
                        }
                      ]
                    },
                    "api_version": "1",
                    "attribution_app_id": "1",
                    "created_at_max": "1948-06-08T07:16:01.0Z",
                    "created_at_min": "1948-06-08T07:16:01.0Z",
                    "fields": "id,name",
                    "financial_status": "paid",
                    "fulfillment_status": "shipped",
                    "ids": "1,2",
                    "limit": 10,
                    "processed_at_max": "1948-06-08T07:16:01.0Z",
                    "processed_at_min": "1948-06-08T07:16:01.0Z",
                    "since_id": "1",
                    "status": "any",
                    "updated_at_max": "1918-04-30T21:13:27.0Z",
                    "updated_at_min": "1939-08-05T01:34:33.0Z"
                  }
                },
                "Bigcommerce": {
                  "summary": "Example with Bigcommerce configuration.",
                  "value": {
                    "params": {
                      "bigcommerce": [
                        {
                          "key": "store_hash",
                          "value": "store hash"
                        },
                        {
                          "key": "token",
                          "value": "store token"
                        }
                      ]
                    },
                    "api_version": "1",
                    "attribution_app_id": "1",
                    "created_at_max": "1948-06-08T07:16:01.0Z",
                    "created_at_min": "1948-06-08T07:16:01.0Z",
                    "fields": "id,name",
                    "financial_status": "paid",
                    "fulfillment_status": "shipped",
                    "ids": "1,2",
                    "limit": 10,
                    "processed_at_max": "1948-06-08T07:16:01.0Z",
                    "processed_at_min": "1948-06-08T07:16:01.0Z",
                    "since_id": "1",
                    "status": "any",
                    "updated_at_max": "1918-04-30T21:13:27.0Z",
                    "updated_at_min": "1939-08-05T01:34:33.0Z"
                  }
                },
                "Woocommerce": {
                  "summary": "Example with Woocommerce configuration.",
                  "value": {
                    "params": {
                      "woocommerce": [
                        {
                          "key": "baseUrl",
                          "value": "https://domain.com/wordpress"
                        },
                        {
                          "key": "token",
                          "value": "base64 token"
                        }
                      ]
                    },
                    "api_version": "1",
                    "attribution_app_id": "1",
                    "created_at_max": "1948-06-08T07:16:01.0Z",
                    "created_at_min": "1948-06-08T07:16:01.0Z",
                    "fields": "id,name",
                    "financial_status": "paid",
                    "fulfillment_status": "shipped",
                    "ids": "1,2",
                    "limit": 10,
                    "processed_at_max": "1948-06-08T07:16:01.0Z",
                    "processed_at_min": "1948-06-08T07:16:01.0Z",
                    "since_id": "1",
                    "status": "any",
                    "updated_at_max": "1918-04-30T21:13:27.0Z",
                    "updated_at_min": "1939-08-05T01:34:33.0Z"
                  }
                },
                "Amazon": {
                  "summary": "Example with Amazon configuration.",
                  "value": {
                    "params": {
                      "amazon": [
                        {
                          "key": "endpoint",
                          "value": "https://sellingpartnerapi-eu.amazon.com"
                        },
                        {
                          "key": "marketplaceIds",
                          "value": [
                            "A1805IZSGTT6HS",
                            "A1PA6795UKMFR9"
                          ]
                        },
                        {
                          "key": "token",
                          "value": "oauth token"
                        }
                      ]
                    },
                    "api_version": "1",
                    "attribution_app_id": "1",
                    "created_at_max": "1948-06-08T07:16:01.0Z",
                    "created_at_min": "1948-06-08T07:16:01.0Z",
                    "fields": "id,name",
                    "financial_status": "paid",
                    "fulfillment_status": "shipped",
                    "ids": "1,2",
                    "limit": 10,
                    "processed_at_max": "1948-06-08T07:16:01.0Z",
                    "processed_at_min": "1948-06-08T07:16:01.0Z",
                    "since_id": "1",
                    "status": "any",
                    "updated_at_max": "1918-04-30T21:13:27.0Z",
                    "updated_at_min": "1939-08-05T01:34:33.0Z"
                  }
                },
                "Bol": {
                  "summary": "Example with Bol configuration.",
                  "value": {
                    "params": {
                      "bol": [
                        {
                          "key": "token",
                          "value": "base64 token"
                        }
                      ]
                    },
                    "api_version": "1",
                    "attribution_app_id": "1",
                    "created_at_max": "1948-06-08T07:16:01.0Z",
                    "created_at_min": "1948-06-08T07:16:01.0Z",
                    "fields": "id,name",
                    "financial_status": "paid",
                    "fulfillment_status": "shipped",
                    "ids": "1,2",
                    "limit": 10,
                    "processed_at_max": "1948-06-08T07:16:01.0Z",
                    "processed_at_min": "1948-06-08T07:16:01.0Z",
                    "since_id": "1",
                    "status": "any",
                    "updated_at_max": "1918-04-30T21:13:27.0Z",
                    "updated_at_min": "1939-08-05T01:34:33.0Z"
                  }
                },
                "Mirakl": {
                  "summary": "Example with Mirakl configuration.",
                  "value": {
                    "params": {
                      "mirakl": [
                        {
                          "key": "token",
                          "value": "bearer-token"
                        }
                      ]
                    },
                    "value": {
                      "params": {
                        "magento": [
                          {
                            "key": "baseUrl",
                            "value": "https://your-magento-store.com"
                          },
                          {
                            "key": "token",
                            "value": "token"
                          }
                        ]
                      },
                      "collection_id": "1",
                      "handle": "handle",
                      "ids": "1,2",
                      "limit": 10,
                      "since_id": "1",
                      "title": "title"
                    },
                    "fulfillment_status": "shipped",
                    "ids": "1,2",
                    "limit": 10,
                    "status": "any",
                    "updated_at_min": "1939-08-05T01:34:33.0Z"
                  }
                },
                "Magento": {
                  "summary": "Example with Magento configuration.",
                  "value": {
                    "params": {
                      "magento": [
                        {
                          "key": "baseUrl",
                          "value": "https://your-magento-store.com"
                        },
                        {
                          "key": "token",
                          "value": "token"
                        }
                      ]
                    },
                    "attribution_app_id": "1",
                    "created_at_max": "1948-06-08T07:16:01.0Z",
                    "created_at_min": "1948-06-08T07:16:01.0Z",
                    "financial_status": "paid",
                    "fulfillment_status": "shipped",
                    "ids": "1,2",
                    "limit": 10,
                    "since_id": "1",
                    "status": "any",
                    "updated_at_max": "1918-04-30T21:13:27.0Z",
                    "updated_at_min": "1939-08-05T01:34:33.0Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "POST /Unified/Orders Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponseWrapper"
                },
                "example": {
                  "Errors": {},
                  "Output": {
                    "step": "transform",
                    "isSuccess": true,
                    "schemaValidationErrors": null,
                    "restErrors": null,
                    "operationErrors": null,
                    "unexpectedErrors": null,
                    "execution_id": "ed7ad663-4757-447c-b5cd-1e83c2380afc",
                    "override_count": 1,
                    "next_page_token_url": "https://api.trykariz.com/api/KarizClientApp/RunSync?configName=shopify_get_orders&tpUserId=1&data=%7B%22limit%22%3A1%2C%22next_page_token%22%3A%22eyJsYXN0X2lkIjo1OTU0NDYxMzM1ODI3LCJsYXN0X3ZhbHVlIjoiMjAyNC0wOS0xMyAxNDo0NzoxMy4xNDAwNTEiLCJkaXJlY3Rpb24iOiJuZXh0In0%22%7D",
                    "next_page_token": "eyJsYXN0X2lkIjo1OTU0NDYxMzM1ODI3LCJsYXN0X3ZhbHVlIjoiMjAyNC0wOS0xMyAxNDo0NzoxMy4xNDAwNTEiLCJkaXJlY3Rpb24iOiJuZXh0In0",
                    "result": [
                      {
                        "id": "5954461335827",
                        "channel_name": "shopify",
                        "app_id": "1354745",
                        "billing_address": {
                          "id": null,
                          "channel_name": "shopify",
                          "address1": "address1",
                          "address2": "E",
                          "city": "Amsterdam",
                          "company": "Kariz",
                          "country": "Netherlands",
                          "country_code": "NL",
                          "first_name": "first_name",
                          "last_name": "last_name",
                          "name": "name",
                          "phone": "+31629362580",
                          "province": null,
                          "province_code": null,
                          "zip": "2311 EA"
                        },
                        "buyer_accepts_marketing": true,
                        "cancel_reason": null,
                        "cancelled_at": null,
                        "checkout_id": "38277296718099",
                        "closed_at": null,
                        "confirmed": true,
                        "created_at": "2024-09-13T14:47:13+00:00",
                        "currency": "EUR",
                        "customer": {
                          "id": "8430809743635",
                          "created_at": "2024-09-13T14:43:08+00:00",
                          "default_address": {
                            "id": "10229148320019",
                            "address1": "address1",
                            "address2": "E",
                            "city": "Amsterdam",
                            "company": "Kariz",
                            "country": "Netherlands",
                            "country_code": "NL",
                            "country_name": "Netherlands",
                            "default": true,
                            "first_name": "first_name",
                            "last_name": "last_name",
                            "name": "name",
                            "phone": "phone",
                            "province": null,
                            "province_code": null,
                            "zip": "zip"
                          },
                          "email": "h.sarlak20@gmail.com",
                          "first_name": "first_name",
                          "last_name": "last_name",
                          "note": null,
                          "phone": null,
                          "tags": "",
                          "tax_exempt": false,
                          "tax_exemptions": [],
                          "updated_at": "2024-09-13T14:47:13+00:00",
                          "verified_email": true,
                          "sms_marketing_consent": {},
                          "email_marketing_consent": {
                            "state": "subscribed",
                            "opt_in_level": "single_opt_in",
                            "consent_updated_at": "2024-09-13T14:43:08+00:00"
                          }
                        },
                        "customer_locale": "en",
                        "device_id": null,
                        "discount_codes": [
                          {
                            "id": null,
                            "amount": "4.95",
                            "code": "FREESHIPPING2024",
                            "type": "shipping"
                          }
                        ],
                        "discount_applications": [
                          {
                            "type": "discount_code",
                            "code": "FREESHIPPING2024",
                            "value": "100.0",
                            "value_type": "percentage",
                            "allocation_method": "each",
                            "target_selection": "all",
                            "target_type": "shipping_line"
                          }
                        ],
                        "email": "h.sarlak20@gmail.com",
                        "financial_status": "paid",
                        "fulfillment_status": null,
                        "phone": null,
                        "tags": "",
                        "line_items": [
                          {
                            "id": "15101787734291",
                            "fulfillable_quantity": 1,
                            "fulfillment_service": "manual",
                            "fulfillment_status": null,
                            "grams": 57,
                            "price": "24.95",
                            "product_id": "9193872326931",
                            "quantity": 1,
                            "requires_shipping": true,
                            "sku": "",
                            "title": "Selling Plans Ski Wax",
                            "variant_id": "48467551420691",
                            "variant_title": "Selling Plans Ski Wax",
                            "name": "Selling Plans Ski Wax - Selling Plans Ski Wax",
                            "vendor": "Quickstart (5676026b)",
                            "gift_card": false,
                            "taxable": true,
                            "total_discount": "0.00",
                            "total_discount_set": {
                              "shop_money": {
                                "currency_code": "EUR",
                                "amount": "0.00"
                              },
                              "presentment_money": {
                                "currency_code": "EUR",
                                "amount": "0.00"
                              }
                            },
                            "product_exists": true,
                            "price_set": {
                              "shop_money": {
                                "currency_code": "EUR",
                                "amount": "24.95"
                              },
                              "presentment_money": {
                                "currency_code": "EUR",
                                "amount": "24.95"
                              }
                            },
                            "fulfillment_line_item_id": null
                          },
                          {
                            "id": "15101787767059",
                            "fulfillable_quantity": 1,
                            "fulfillment_service": "manual",
                            "fulfillment_status": null,
                            "grams": 71,
                            "price": "49.95",
                            "product_id": "9193872326931",
                            "quantity": 1,
                            "requires_shipping": true,
                            "sku": "",
                            "title": "Selling Plans Ski Wax",
                            "variant_id": "48467551453459",
                            "variant_title": "Special Selling Plans Ski Wax",
                            "name": "Selling Plans Ski Wax - Special Selling Plans Ski Wax",
                            "vendor": "Quickstart (5676026b)",
                            "gift_card": false,
                            "taxable": true,
                            "total_discount": "0.00",
                            "total_discount_set": {
                              "shop_money": {
                                "currency_code": "EUR",
                                "amount": "0.00"
                              },
                              "presentment_money": {
                                "currency_code": "EUR",
                                "amount": "0.00"
                              }
                            },
                            "product_exists": true,
                            "price_set": {
                              "shop_money": {
                                "currency_code": "EUR",
                                "amount": "49.95"
                              },
                              "presentment_money": {
                                "currency_code": "EUR",
                                "amount": "49.95"
                              }
                            },
                            "fulfillment_line_item_id": null
                          },
                          {
                            "id": "15101787799827",
                            "fulfillable_quantity": 1,
                            "fulfillment_service": "manual",
                            "fulfillment_status": null,
                            "grams": 14,
                            "price": "9.95",
                            "product_id": "9193872326931",
                            "quantity": 1,
                            "requires_shipping": true,
                            "sku": "",
                            "title": "Selling Plans Ski Wax",
                            "variant_id": "48467551486227",
                            "variant_title": "Sample Selling Plans Ski Wax",
                            "name": "Selling Plans Ski Wax - Sample Selling Plans Ski Wax",
                            "vendor": "Quickstart (5676026b)",
                            "gift_card": false,
                            "taxable": true,
                            "total_discount": "0.00",
                            "total_discount_set": {
                              "shop_money": {
                                "currency_code": "EUR",
                                "amount": "0.00"
                              },
                              "presentment_money": {
                                "currency_code": "EUR",
                                "amount": "0.00"
                              }
                            },
                            "product_exists": true,
                            "price_set": {
                              "shop_money": {
                                "currency_code": "EUR",
                                "amount": "9.95"
                              },
                              "presentment_money": {
                                "currency_code": "EUR",
                                "amount": "9.95"
                              }
                            },
                            "fulfillment_line_item_id": null
                          }
                        ],
                        "location_id": null,
                        "name": "#1004",
                        "note": null,
                        "number": "4",
                        "order_number": "1004",
                        "order_status_url": "https://quickstart-5676026b.myshopify.com/87012344083/orders/9f3c5659f7a47af9c3e32fc46ef0948f/authenticate?key=99cb5af1f58f1bcb43f592c724cbce36",
                        "payment_gateway_names": [
                          "manual"
                        ],
                        "processed_at": "2024-09-13T14:47:12+00:00",
                        "referring_site": null,
                        "shipping_address": {
                          "id": null,
                          "address1": "address1",
                          "address2": "address2",
                          "city": "Amsterdam",
                          "company": "Kariz",
                          "country": "Netherlands",
                          "country_code": "NL",
                          "first_name": "first_name",
                          "last_name": "last_name",
                          "name": "name",
                          "phone": "phone",
                          "province": null,
                          "province_code": null,
                          "zip": "zip"
                        },
                        "shipping_lines": [
                          {
                            "id": "4798704550163",
                            "carrier_identifier": "4084464f694a06e6683c491d00cef27f",
                            "code": "Standaard",
                            "is_removed": false,
                            "phone": null,
                            "price": "4.95",
                            "discounted_price": "4.95",
                            "discount_allocations": [
                              {
                                "amount": "4.95",
                                "discount_application_index": 0,
                                "amount_set": {
                                  "shop_money": {
                                    "currency_code": "EUR",
                                    "amount": "4.95"
                                  },
                                  "presentment_money": {
                                    "currency_code": "EUR",
                                    "amount": "4.95"
                                  }
                                }
                              }
                            ],
                            "source": "shopify",
                            "title": "Standaard",
                            "price_set": {
                              "shop_money": {
                                "currency_code": "EUR",
                                "amount": "4.95"
                              },
                              "presentment_money": {
                                "currency_code": "EUR",
                                "amount": "4.95"
                              }
                            },
                            "discounted_price_set": {
                              "shop_money": {
                                "currency_code": "EUR",
                                "amount": "4.95"
                              },
                              "presentment_money": {
                                "currency_code": "EUR",
                                "amount": "4.95"
                              }
                            }
                          }
                        ],
                        "source_identifier": "9eb0dba16b98dda9011517e5880b0263",
                        "source_name": "shopify_draft_order",
                        "subtotal_price": "84.85",
                        "taxes_included": true,
                        "test": false,
                        "total_discounts": "4.95",
                        "total_line_items_price": "84.85",
                        "total_tip_received": "0.00",
                        "total_price": "84.85",
                        "total_tax": "0.00",
                        "total_weight": 142,
                        "updated_at": "2024-09-13T14:47:14+00:00",
                        "user_id": "109876314387",
                        "current_total_duties_set": {},
                        "original_total_duties_set": {},
                        "presentment_currency": "EUR",
                        "total_line_items_price_set": {
                          "shop_money": {
                            "currency_code": "EUR",
                            "amount": "84.85"
                          },
                          "presentment_money": {
                            "currency_code": "EUR",
                            "amount": "84.85"
                          }
                        },
                        "total_discounts_set": {
                          "shop_money": {
                            "currency_code": "EUR",
                            "amount": "4.95"
                          },
                          "presentment_money": {
                            "currency_code": "EUR",
                            "amount": "4.95"
                          }
                        },
                        "total_shipping_price_set": {
                          "shop_money": {
                            "currency_code": "EUR",
                            "amount": "4.95"
                          },
                          "presentment_money": {
                            "currency_code": "EUR",
                            "amount": "4.95"
                          }
                        },
                        "subtotal_price_set": {
                          "shop_money": {
                            "currency_code": "EUR",
                            "amount": "84.85"
                          },
                          "presentment_money": {
                            "currency_code": "EUR",
                            "amount": "84.85"
                          }
                        },
                        "total_price_set": {
                          "shop_money": {
                            "currency_code": "EUR",
                            "amount": "84.85"
                          },
                          "presentment_money": {
                            "currency_code": "EUR",
                            "amount": "84.85"
                          }
                        },
                        "total_outstanding": "0.00",
                        "total_tax_set": {
                          "shop_money": {
                            "currency_code": "EUR",
                            "amount": "0.00"
                          },
                          "presentment_money": {
                            "currency_code": "EUR",
                            "amount": "0.00"
                          }
                        },
                        "estimated_taxes": false,
                        "current_subtotal_price": "84.85",
                        "current_subtotal_price_set": {
                          "shop_money": {
                            "currency_code": "EUR",
                            "amount": "84.85"
                          },
                          "presentment_money": {
                            "currency_code": "EUR",
                            "amount": "84.85"
                          }
                        },
                        "current_total_discounts": "4.95",
                        "current_total_discounts_set": {
                          "shop_money": {
                            "currency_code": "EUR",
                            "amount": "4.95"
                          },
                          "presentment_money": {
                            "currency_code": "EUR",
                            "amount": "4.95"
                          }
                        },
                        "current_total_price": "84.85",
                        "current_total_price_set": {
                          "shop_money": {
                            "currency_code": "EUR",
                            "amount": "84.85"
                          },
                          "presentment_money": {
                            "currency_code": "EUR",
                            "amount": "84.85"
                          }
                        },
                        "current_total_tax": "0.00",
                        "current_total_tax_set": {
                          "shop_money": {
                            "currency_code": "EUR",
                            "amount": "0.00"
                          },
                          "presentment_money": {
                            "currency_code": "EUR",
                            "amount": "0.00"
                          }
                        },
                        "payment_terms": {},
                        "current_total_additional_fees_set": {},
                        "original_total_additional_fees_set": {},
                        "po_number": null,
                        "tax_exempt": false,
                        "company": {
                          "id": null,
                          "location_id": null
                        }
                      }
                    ]
                  },
                  "Report": {
                    "TraceId": "00-3c6a96b919427b0952ba274800a4b04f-7efc4603f4ee42e7-00",
                    "TotalExtResourcesDuration": 356.8311,
                    "TotalEventsTransitDuration": 554.5615,
                    "TotalTransformationsDuration": 690.4757,
                    "TotalRequestsDuration": 4296.1973,
                    "ExtResources": [
                      {
                        "Uri": "https://quickstart.myshopify.com/admin/api/2024-04/orders.json",
                        "Duration": 356.8311
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "kariz_core_api"
            ]
          }
        ]
      }
    },
    "/api/KarizClientApp/Unified/Products": {
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "List all product info",
[...]
